@import '../sizes';

.calendar__table {
  border-collapse: collapse;

  td, th {
    padding: 1.8rem 2.4rem;
    width: 24.8rem;
    flex: 0 0 24.8rem;
    font-weight: normal;
    transition: padding 300ms;

    @include for-sm-down {
      width: 100vw;
      flex: 0 0 100vw;
    }

    &:first-child {
      width: 10rem;
      flex: 0 0 10rem;
      display: flex;
      justify-content: center;
    }

    &.mod-hide {
      padding: 0;
    }
  }
}

.calendar__table-head {
  background-color: #F0F0F1;
}

.calendar__body-wrapper {
  border-right: 1px solid #DCDCE0;
  border-left: 1px solid #DCDCE0;
  border-bottom: 1px solid #DCDCE0;
}

.calendar__row-wrapper {
  display: none;

  &:not(.mod-head) {
    border-top: 1px solid #DCDCE0;
  }

  &:first-child {
    border-top: none;
  }

  &.mod-show {
    display: flex;
    transition: 1s; /* Скорость перехода состояния элемента*/
    animation: show 500ms 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.calendar__item-header {
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--muted-color);
  font-weight: 600 !important;

  &:not(.mod-date) {
    text-transform: uppercase;
  }

  &.mod-date {
    font-size: 1.4rem;
    align-items: center;
    font-weight: 600;
  }

  &.mod-hide-by-auditoriums {
    display: none;
  }

  &.mod-clear {
    display: none;
  }
}

.calendar__item-header-caption {
  color: #000;
  margin-bottom: .4rem;
}

.calendar__item-content {
  text-align: start;
  line-height: 1.3;
  border-left: 1px solid #DCDCE0;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
  }

  &:first-child {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--main-color);
  }

  &:first-child {
    border-left: none;
  }

  &.mod-full {
    width: 100%;
    flex: 1 1 100%;

    @include for-sm-down {
      width: 100vw;
      flex: 0 0 100vw;
    }
  }

  &.mod-hide-by-topics, &.mod-hide-by-auditoriums, &.mod-hide-by-speakers {
    &:before {
      opacity: 1;
    }
  }

  &.mod-clear {
    display: none;
  }
}

.calendar__item-content-time {
  font-size: 1.4rem;
  color: var(--muted-color);
  margin-bottom: .2rem;
}

.calendar__item-content-mark {
  padding: .2rem .8rem;
  border-radius: 0 10px 10px 10px;
  font-size: 12px;
  color: var(--main-color);
  display: inline-block;
  margin-bottom: 1.4rem;

  &.type-1 {
    background-color: #F9B787;
  }

  &.type-2 {
    background-color: #FFD3D3;
  }

  &.type-3 {
    background-color: #C8E8C3;
  }

  &.type-4 {
    background-color: #DCDBFF;
  }

  &.type-5 {
    background-color: #C6DDFF;
  }
}

.calendar__item-content-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .6rem;
}

.calendar__item-content-subtitle {
  font-size: 1.2rem;
  color: var(--muted-color);
  margin-bottom: 2rem;
}

.calendar__item-content-text {
  font-size: 1.2rem;
}

.calendar__btn-show-all-wrapper {
  width: min-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__btn-show-all {
  display: flex;
  align-items: center;

  @include for-md-up {
    &:hover {
      .calendar__btn-show-all-content {
        border-bottom: 1px dashed var(--secondary-color);
      }
    }
  }

  @include for-md-down {
    max-width: 100vw;
  }
}

.calendar__btn-show-all-content {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.3;
  color: var(--secondary-color);
  white-space: nowrap;

  @include for-sm-down {
    white-space: normal;
  }
}

.calendar__btn-show-all-triangle {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 9rem;

  &:before, &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 2rem;
    border: 8px solid transparent;
    transition: opacity 200ms;
  }

  &:before {
    top: 24%;
    border-top: 14px solid #000;
    opacity: 1;
  }

  &:after {
    top: -30%;
    border-bottom: 14px solid #000;
    opacity: 0;
  }

  &.mod-open {
    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}
