@import 'src/scss/sizes';

.gl__input-container {
  display: grid;
  grid-template-columns: 98px 1fr;
  grid-gap: 16px;
  align-items: center;

  & + & {
    margin-top: 20px;
  }

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-gap: 6px;
  }
}

.gl__input-title {
  font-size: 16px;
  color: var(--main-color);

  @include for-sm-down {
    padding-left: 20px;
    font-size: 14px;
  }
}

.gl__input-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.gl__input {
  width: 100% !important;
  padding: 16px 22px !important;
  line-height: 1 !important;
  font-size: 14px !important;
  color: var(--main-color) !important;
  background-color: #ECE8FD !important;
  border-radius: 30px !important;
  border: 2px solid transparent !important;
  height: auto !important;

  &.parsley-error {
    border-color: var(--btn-color) !important;
  }

  @include for-sm-down {
    padding: 10px 20px !important;
  }
}

.gl__radio-input-container {
  display: flex;
  cursor: pointer;
  margin-top: 40px;

  @include for-sm-down {
    margin-top: 20px;
  }
}

.gl__radio-input-wrapper {
  cursor: pointer;

  &.parsley-error {
    .gl__radio-input-content {
      border: 2px solid var(--btn-color);
    }
  }
}

.gl__radio-input {
  display: none;

  &:checked {
    +.gl__radio-input-content {
      &:before {
        opacity: 1;
      }
    }
  }
}

.gl__radio-input-content {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #ECE8FD;
  border-radius: 3px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    border-radius: 3px;
    transition: opacity 300ms;
    opacity: 0;
  }
}

.gl__radio-input-caption {
  padding-left: 42px;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-color);

  @include for-sm-down {
    padding-left: 26px;
  }
}

.gl__radio-input-caption-link {
  &:hover {
    text-decoration: underline;
  }
}

.gl__error-block {
  display: flex;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms;

  &.mod-show {
    max-height: 30px;
    margin-bottom: 20px;
  }
}

.gl__error-block {
  font-size: 14px;
  color: var(--main-color);
}

.gl__error-icon {
  height: 20px;
  margin-right: 22px;
}

.gl__input-hint-link {
  display: block;
  color: var(--btn-color) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  transition: color 300ms;
  grid-column: 2 / 3;

  &:hover {
    text-decoration: underline;
  }
}
