@import 'src/scss/sizes';

.gl__form {
  .parsley-errors-list {
    display: none;

    + .gl__radio-input-caption {
      color: var(--btn-color);
    }

    + .gl__input {
      &.mod-file {
        border-color: var(--btn-color);
      }
    }
  }

  .gl__input {
    &.parsley-error {
      border-color: var(--btn-color) !important;
    }
  }

  .gl__select {
    &.parsley-error {
      // todo невозм стилизовать предыдущий элемент
      // ~ .choices__inner {
      //  border-color: var(--btn-color) !important;
      //}
    }
  }
}

.gl__input-container {
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-gap: 16px;
  align-items: center;

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-gap: .8rem;
  }
}

.gl__input-title {
  font-size: 16px;
  color: var(--main-color);

  &.mod-small {
    font-size: 1.4rem;
  }

  @include for-sm-down {
    padding-left: 20px;
    font-size: 14px;
  }
}

.gl__input-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  &.mod-password {
    .gl__input {
      padding-right: 46px !important;
    }
  }

  &.mod-file {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gl__input {
  width: 100% !important;
  padding: 15px 22px !important;
  line-height: 1 !important;
  font-size: 14px !important;
  color: var(--main-color) !important;
  background-color: var(--pale-secondary-color) !important;
  height: auto !important;
  border: 1px solid transparent;
  border-radius: 30px !important;

  @include for-sm-down {
    padding: 10px 20px !important;
  }

  &.mod-file {
    display: block;
    background-color: transparent !important;
    cursor: pointer;
    color: rgba(18, 21, 42, .5) !important;
    border: 1px dashed #9681F2;
  }
}

.gl__input-mark-required {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--btn-color);
  border-radius: 100%;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 1;
}

.gl__radio-input-container {
  display: flex;
  cursor: pointer;
  margin-top: 40px;

  @include for-sm-down {
    margin-top: 20px;
  }
}

.gl__radio-input-wrapper {
  cursor: pointer;

  &.parsley-error {
    .gl__radio-input-content {
      border: 2px solid var(--btn-color);
    }
  }
}

.gl__form-radio-wrapper {
  margin-left: -7rem;
  margin-bottom: -2.5rem;
}

.gl__radio-checkbox-input-wrapper {
  cursor: pointer;
  margin-left: 7rem;
  margin-bottom: 2.5rem;

  &.parsley-error {
    .gl__radio-checkbox-input-content {
      border: 2px solid var(--btn-color);
    }
  }

  &.mod-inline {
    display: inline-block;
  }

  &.mod-for-caption {
    display: inline-flex;
    align-items: center;
  }
}

.gl__radio-checkbox-input {
  display: none;

  &:checked {
    + .gl__radio-checkbox-input-content {
      &:before {
        opacity: 1;
      }
    }
  }
}

.gl__radio-checkbox-input-text {
  font-size: 1.4rem;
  margin-left: 2rem;
  display: inline-block;
}

.gl__radio-checkbox-input-content {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--pale-secondary-color);
  border-radius: 3px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    border-radius: 3px;
    transition: opacity 300ms;
    opacity: 0;
  }
}

.gl__radio-input-caption {
  padding-left: 42px;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-color);

  @include for-sm-down {
    padding-left: 26px;
  }
}

.gl__radio-checkbox-input-caption-link {
  &:hover {
    text-decoration: underline;
  }
}

.gl__error-block {
  display: flex;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms;

  &.mod-show {
    max-height: 30px;
    margin: 38px 0;
  }
}

.gl__error-block {
  font-size: 14px;
  color: var(--main-color);
}

.gl__error-icon {
  height: 20px;
  margin-right: 22px;
}

.gl__input-hint-link {
  display: block;
  color: var(--btn-color) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  transition: color 300ms;
  text-align: start;
  grid-column: 2 / 3;

  &:hover {
    text-decoration: underline;
  }
}

.gl__input-password-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;

  &.mod-show-password {
    .gl__input-password-btn-image {
      &.type-show {
        display: block;
      }

      &.type-hide {
        display: none;
      }
    }
  }
}

.gl__input-password-btn-image {
  height: 24px;

  &.type-show {
    display: none;
  }

  &.type-hide {
    display: block;
  }
}

.gl__select-container {
  display: inline-block;
  position: relative;

  &.mod-forked {
    display: flex;
    justify-content: space-between;

    .gl__select-wrapper {
      &:nth-child(1) {
        margin-right: .2rem;

        .choices__inner {
          border-radius: 30px 0 0 30px !important;
        }
      }

      &:nth-child(2) {
        .choices__inner {
          border-radius: 0 30px 30px 0 !important;
        }
      }
    }
  }

  &.mod-filter-select {
    margin-left: 1rem;
    margin-bottom: 1rem;

    .choices__item {
      color: #000;
    }

    .choices__inner {
      min-width: 22rem;
      min-height: auto;
    }
  }
}

.gl__select-wrapper {
  text-align: left;
  width: 100%;

  .choices {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .choices__inner {
    background: var(--pale-secondary-color) !important;
    border: none !important;
    font-size: 1.4rem;
    line-height: 50px;
    padding: 0 3rem 0 2.2rem;
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    min-height: 50px;

    @include for-sm-down {
      line-height: 40px;
      min-height: 40px;
    }
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    padding: 0 1rem 0 0;
  }

  .choices[data-type*='select-one'].is-open::after {
    border-top: none;
    border-bottom: 4px solid #000;
    top: 63%;
  }

  .choices[data-type*='select-one']:after {
    margin: 0;
    right: 2.2rem;
    top: 45%;
    border: 4px solid transparent;
    border-top: 4px solid #000;
  }

  .choices__placeholder {
    display: none !important;
  }

  .choices__list--dropdown {
    word-break: initial;
    border: none;
    background: var(--pale-secondary-color);
    box-shadow: 0 0 1rem rgba(#0a2742, 0.1);
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    display: block !important;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    border-radius: 16px !important;

    &.is-active {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility 0.3s;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: var(--muted-color);
    color: white;
  }

  .choices__list {
    z-index: 12;

    &.choices__list--dropdown {
      z-index: 100;
    }
  }

  .choices__list--dropdown .choices__list {
    max-height: 30rem;
    margin-right: -20px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      background-color: white;
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .choices__item {
    &.choices__item--selectable {
      color: var(--main-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }

    &.choices__item--choice {
      color: var(--main-color);
    }
  }
}

.gl__datepicker-container {
  position: relative;
  cursor: pointer;

  .datepicker {
    position: absolute;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px 4px #0000001a;
    border-radius: 14px;
    right: 2rem;
    left: initial !important;
    top: 2rem !important;
    z-index: 50 !important;
    width: 29rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: normal;
  }

  .datepicker-days, .datepicker-months, .datepicker-years {
    width: 100%;
  }

  .datepicker-switch {
    text-align: center;
  }

  .datepicker-months, .datepicker-years {
    .table-condensed {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      text-align: center;
      border-radius: .4rem;
      border: 0;
      font-size: 1.6rem;
      padding: .9rem 1.1rem;
    }

    .month, .year {
      display: block;
      width: 23%;
      height: 5.4rem;
      line-height: 5.4rem;
      float: left;
      padding: .2rem;
    }
  }

  .table-condensed {
    width: 100%;
  }

  .datepicker-switch {
    font-size: 1.8rem;
    padding: 0 2.5rem;
    color: var(--btn-color);
  }

  thead {
    margin-bottom: 2rem;
  }

  .table-condensed {
    margin: -0.5rem;
  }

  .prev, .next {
    text-align: center;
    color: var(--btn-color);
    font-size: 2.6rem !important;
  }

  .dow {
    padding: 1.5rem .5rem;
    color: var(--btn-color);
    text-align: center;
  }

  .day, .month, .year {
    padding: .5rem;
    text-align: center;
    font-weight: normal;
    transition: color 400ms, font-weight 400ms;

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        color: var(--btn-color);
        font-weight: bold;
      }
    }

    &.disabled {
      color: rgba(18, 21, 42, .5);
    }
  }
}

.gl__datepicker-input {
  cursor: pointer;
}

.gl__input-file {
  display: none;
}

.gl__input-icon {
  position: absolute;
  height: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
}
