@import 'src/scss/sizes';

body {
  &.mod-no-scroll {
    overflow: hidden;
  }

  &.touch {
    .ps__rail-x {
      display: none !important;
    }

    .calendar__content {
      padding-top: 0 !important;
    }
  }
}

.gl__page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.gl__title {
  font-weight: bold;
  font-size: 80px;
  color: #000;
  margin-bottom: 66px;

  &.mod-white {
    color: #fff;
  }

  @include for-bg-down {
    font-size: 70px;
    margin-bottom: 58px;
  }

  @include for-md-down {
    font-size: 58px;
    margin-bottom: 50px;
  }

  @include for-sm-down {
    font-size: 46px;
    margin-bottom: 42px;
  }

  @include for-xxs-down {
    font-size: 30px;
    margin-bottom: 36px;
  }
}

.gl__subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 62px;

  @include for-bg-down {
    font-size: 34px;
    margin-bottom: 60px;
  }

  @include for-md-down {
    font-size: 30px;
    margin-bottom: 50px;
  }

  @include for-sm-down {
    font-size: 28px;
    margin-bottom: 40px;
  }

  @include for-xxs-down {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.gl__main-text {
  font-size: 14px;
  line-height: 1.2;

  & + & {
    margin-top: 20px;
  }

  @include for-md-down {
    font-size: 12px;

    & + & {
      margin-top: 14px;
    }
  }

  @include for-sm-down {
    & + & {
      margin-top: 10px;
    }
  }
}

.gl__mask-color {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    mix-blend-mode: hard-light;
    width: 100%;
    height: 100%;
  }
}

.gl__bread-crumbs-list {
  margin: -1rem -1rem 2rem -1.0rem;
}

.gl__bread-crumbs-item {
  display: inline-block;

  &:last-child {
    .gl__bread-crumbs-item-link {
      &:before {
        content: none;
      }
    }
  }
}

.gl__bread-crumbs-item-link {
  font-size: 1.4rem;
  color: rgba(18, 21, 42, .5);
  padding: .4rem 2rem .4rem 1.0rem;
  position: relative;
  display: inline-block;
  line-height: 1.6;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1.2rem;
    height: .8rem;
    background-image: url('../../img/news/array.svg');
  }

  &:not(.mod-current-page) {

    &:hover {
      text-decoration: underline;
    }
  }
}
