@import '../sizes';

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 16, 95, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  transition: 400ms opacity;

  &.mod-show {
    opacity: 1;
    z-index: 51;
    top: 0;
    left: 0;
  }

  .parsley-errors-list {
    display: none;
  }
}

.modal__container {
  padding: 40px 52px;
  width: 647px;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 100;
  overflow: auto;
  max-height: 100vh;

  @include for-md-down {
    padding: 30px 20px;
    margin: 0 10px;
    max-width: 90vw;
  }
}

.modal__content {
  display: block;

  &.mod-hide {
    display: none;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include for-sm-down {
    margin-bottom: 10px;
  }
}

.modal__title {
  font-size: 30px;
  line-height: 39px;
  color: var(--main-color);
  margin-right: 20px;
  font-weight: bold;

  @include for-sm-down {
    font-size: 20px;
    line-height: 1;
  }
}

.modal__close-btn {
  width: 50px;
  height: 50px;
  margin-right: -14px;
  margin-top: -6px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .modal__close-icon {
      fill: var(--btn-color);
    }
  }

  @include for-sm-down {
    margin-right: -10px;
    margin-top: -16px;
  }
}

.modal__close-icon {
  fill: #000;
  transition: fill 300ms;

  @include for-sm-down {
    height: 16px;
  }
}

.modal__btn-submit {
  margin-top: 40px;
}

.modal__success-text-wrapper {
  flex-direction: column;
  align-items: flex-end;
  display: none;

  &.mod-show {
    display: flex;
  }

  .modal__close-btn {
    margin-right: -34px;
    margin-top: -26px;
  }
}

.modal__success-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: var(--main-color);
  text-align: center;
}

.modal__proposal {
  text-align: center;
  font-size: 14px;
  color: #7F7E94;
  margin-top: 20px;
}

.modal__proposal-link {
  color: var(--btn-color) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  transition: color 300ms;

  &:hover {
    text-decoration: underline;
  }
}

.modal__entered-email {
  color: var(--btn-color);
  word-break: break-all;
}
