@import '../sizes';
@import '../extends';

.modal {
  @extend %modal;
  background-color: rgba(31, 16, 95, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .gl__input-container {
    margin-bottom: 2rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.modal__container {
  padding: 4rem 5.2rem;
  width: 64.7rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  z-index: 100;
  overflow: auto;
  max-height: 100vh;
  margin-top: 3rem;

  @include for-md-down {
    padding: 3rem 2rem;
    margin: 0 1rem;
    max-width: 90vw;
  }
}

.modal__content {
  display: block;

  &.mod-hide {
    display: none;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  @include for-fl-down {
    margin-bottom: 3rem;
  }

  @include for-sm-down {
    margin-bottom: 1rem;
  }
}

.modal__title {
  font-size: 3rem;
  line-height: 1.1;
  color: var(--main-color);
  margin-right: 2rem;
  font-weight: bold;

  @include for-sm-down {
    font-size: 2rem;
  }
}

.modal__close-btn {
  width: 5rem;
  height: 5rem;
  margin-right: -4rem;
  margin-top: -2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .modal__close-icon {
      fill: var(--btn-color);
    }
  }

  @include for-md-down {
    margin-right: -1rem;
    margin-top: -2rem;
  }

  @include for-sm-down {
    margin-right: -1.6rem;
    margin-top: -2.6rem;
  }
}

.modal__close-icon {
  fill: #000;
  transition: fill 300ms;

  @include for-sm-down {
    height: 1.6rem;
  }
}

.modal__btn-submit {
  margin-top: 4rem;
}

.modal__success-text-wrapper {
  flex-direction: column;
  align-items: flex-end;
  display: none;

  &.mod-show {
    display: flex;
  }
}

.modal__success-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  color: var(--main-color);
  text-align: center;

  @include for-md-down {
    font-size: 2.6rem;
  }

  @include for-sm-down {
    font-size: 2rem;
  }

  @include for-xxs-down {
    font-size: 1.6rem;
  }
}

.modal__proposal {
  text-align: center;
  font-size: 1.4rem;
  color: #7F7E94;
  margin-top: 2rem;
}

.modal__proposal-link {
  color: var(--btn-color) !important;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: color 300ms;

  &:hover {
    text-decoration: underline;
  }
}

.modal__entered-email {
  color: var(--btn-color);
  word-break: break-all;
}

.modal__caption {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--main-color);
  margin-bottom: 4.4rem;
}

.modal__text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 4.2rem;
}

.modal-to-book__btn {
  margin-top: 3.4rem;
}
