.account {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.account__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    bottom: -.4rem;
    left: 0;
    width: 100%;
    height: .1rem;
    background-color: rgba(65, 68, 85, .2);
  }
}

.account__menu-container {
  display: flex;
}

.account__menu-radio {
  display: none;

  &:checked {
    + .account__menu-radio-content {
      color: var(--btn-color);
      border-bottom-color: var(--btn-color);
    }
  }
}

.account__menu-radio-content {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #898A95;
  padding: 2.2rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: color 300ms, border-bottom-color 300ms;
  cursor: pointer;

  &:hover {
    color: var(--btn-color-muted);
    border-bottom-color: var(--btn-color-muted);
  }
}

.account__exit-btn {
  padding: 2rem 2rem 2rem 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000;
  position: relative;
  transition: color 250ms;

  &:hover {
    color: #898A95;

    .account__exit-btn-icon {
      fill: #898A95;
    }
  }
}

.account__exit-btn-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  fill: #000;
  transition: fill 250ms;
}

.account__body {
  padding: 5rem 0;
}
