@import '../sizes';

.account {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include for-md-down {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.account__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include for-md-up {
    &:before {
      position: absolute;
      content: '';
      bottom: -.4rem;
      left: 0;
      width: 100%;
      height: .1rem;
      background-color: rgba(65, 68, 85, .2);
    }
  }

  @include for-md-down {
    flex-direction: column-reverse;
  }
}

.account__menu-container {
  @include for-md-down {
    width: 100vw;
    padding: 0 0 2.5rem 0;
    overflow: auto;
    margin-top: 2rem;
  }
}

.account__menu-wrapper {
  display: flex;

  @include for-md-up {
    width: 100%;
  }

  @include for-md-down {
    padding: 0 var(--page-content-padding);
    margin: 0 -1.2rem;
  }
}

.account__menu-radio {
  display: none;

  &:checked {
    + .account__menu-radio-content {
      color: var(--btn-color);
      border-bottom-color: var(--btn-color);
    }
  }

  &:disabled {
    + .account__menu-radio-content {
      cursor: initial;
      user-select: none;

      &:hover {
        color: var(--muted-color);
        border-bottom-color: transparent;
      }
    }
  }
}

.account__menu-radio-content {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--muted-color);
  padding: 2.2rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: color 300ms, border-bottom-color 300ms;
  cursor: pointer;
  white-space: nowrap;

  @include for-md-down {
    padding: 1.4rem;
    font-size: 1.4rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  @include for-sm-down {
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  &:hover {
    color: var(--btn-color-muted);
    border-bottom-color: var(--btn-color-muted);
  }
}

.account__exit-btn-wrapper {
  @include for-md-down {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.account__exit-link {
  padding: 2rem 2rem 2rem 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000;
  position: relative;
  transition: color 250ms;
  display: block;

  &:hover {
    color: var(--muted-color);

    .account__exit-btn-icon {
      fill: var(--muted-color);
    }
  }
}

.account__exit-btn-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  fill: #000;
  transition: fill 250ms;
}

.account__body {
  padding-top: 5rem;

  @include for-md-down {
    padding-top: 2rem;
  }
}

.account__form-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  .gl__subtitle {
    flex: 0 0 auto;
    margin-bottom: 0;
  }

  @include for-md-up {
    .gl__subtitle {
      margin-bottom: 0;
    }
  }

  @include for-md-down {
    flex-direction: column;
    align-items: flex-start;
  }
}

.account__btn-date-container {
  @include for-md-down {
    width: 100vw;
    margin: 0 calc(var(--page-content-padding) * -1);
    padding: 0 var(--page-content-padding);
    overflow: auto;
  }
}

.account__btn-date-wrapper {
  display: flex;
  @include for-md-down {
    margin-top: 3rem;
  }
}

.account__component {
  &:not(.mod-show) {
    position: absolute;
    z-index: -999;
    top: -9999px;
    left: -9999px;
    pointer-events: none;
    opacity: 0;
  }
}

.account__form-save-wrapper {
  display: flex;
  align-items: center;
  padding: 1.4rem 3.2rem 1.4rem 2.2rem;
  background-color: rgba(97, 189, 81, .2);
  border-radius: 25px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  white-space: nowrap;
  margin-top: 5.6rem;
  width: min-content;

  @include for-md-down {
    padding: 1rem 2.8rem 1rem 1.8rem;
    margin-top: 3rem;
  }

  @include for-sm-down {
    margin-top: 2rem;
  }
}

.account__form-save-image {
  height: 2.4rem;
  margin-right: 2.2rem;

  @include for-md-down {
    margin-right: 1.2rem;
  }
}

.account__form-head-subtitle-wrapper {
  flex: 0 0 auto;
}
