@import '../sizes';

.calendar {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .ps__rail-x {
    height: 1rem;
    background: #F0F0F1;
    border-radius: 4px;
    top: 0.3rem;
    opacity: 1 !important;
    cursor: pointer;
    margin: 0 3rem;

    &:hover {
      top: 0;
      height: 1.6rem;
      background: #fafafa;

      .ps__thumb-x {
        background: #9681F2;
        height: 1rem;
      }
    }
  }

  .ps__thumb-x {
    height: .6rem;
    background: #9681F2 !important;
    border-radius: 4px;
    opacity: 1 !important;
    top: 50%;
    transform: translateY(-50%);
  }
}

.calendar__page-content {
  padding: 0 3rem;
}

.calendar__selects-wrapper {
 margin-right: -1rem;
 margin-bottom: -1rem;
}

.calendar__header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;

  @include for-md-down {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.calendar__content {
  position: relative;
  overflow: hidden;
  padding-top: 2.8rem;
}

.calendar__btn-download {
  min-width: 26rem;
  text-align: center;
  margin-left: 2rem;

  @include for-md-down {
    margin-left: 0;
    margin-top: 3rem;
    min-width: auto;
    display: inline-block;

    .gl__btn-download-icon {
      left: 1.2rem !important;
    }
  }
}
