@import '../sizes';
@import '../extends';

.calendar {
  position: relative;
}

.calendar__main-content {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .ps__rail-x {
    height: 1rem;
    background: #F0F0F1;
    border-radius: 4px;
    top: 0.3rem;
    opacity: 1 !important;
    cursor: pointer;
    margin: 0 3rem;

    &:hover {
      top: 0;
      height: 1.6rem;
      background: #fafafa;

      .ps__thumb-x {
        background: #9681F2;
        height: 1rem;
      }
    }
  }

  .ps__thumb-x {
    height: .6rem;
    background: #9681F2 !important;
    border-radius: 4px;
    opacity: 1 !important;
    top: 50%;
    transform: translateY(-50%);
  }
}

.calendar__page-content {
  padding: 0 3rem;
}

.calendar__selects-wrapper {
  margin: -1rem;

  @include for-sm-down {
    display: flex;
    flex-direction: column;

    .gl__select-container {
      &.mod-filter-select {

      }
    }
  }
}

.calendar__header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;

  @include for-md-down {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.calendar__content {
  position: relative;
  overflow: hidden;
  padding-top: 2.8rem;
}

.calendar__filter-btn {
  max-width: 40rem;
  padding: 1.6rem;
}

.calendar__btn-download {
  min-width: 26rem;
  text-align: center;
  margin-left: 2rem;
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  @include for-md-down {
    margin-left: 0;
    margin-top: 3rem;
    min-width: auto;
    display: inline-block;

    .gl__btn-download-icon {
      left: 1.2rem !important;
    }
  }

  @include for-sm-down {
    margin-top: 1.4rem;
  }
}

.calendar__modal-filter-content {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

.calendar__modal-filter {
  @extend %modal;
  position: absolute;
  height: 100%;
  background-color: #fff;
}

.calendar__modal-filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.calendar__modal-filter-header-subtitle {
  margin-bottom: 0;
  margin-top: 1rem;
}

.calendar__modal-filter-close {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: block;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2.2rem;
    transition: all 0.3s ease;
  }

  &:before {
    margin-left: -8px;
    height: 2px;
    background: var(--main-color);
    transform: rotate(45deg);
    margin-top: 0;
  }

  &:after {
    height: 2px;
    margin-left: -8px;
    background: var(--main-color);
    transform: rotate(-45deg);
    margin-top: 0;
  }
}
