.contacts__content-wrapper {
  margin-bottom: 6.4rem;
  overflow: hidden;
}

.contacts__row-wrapper {
  & + & {
    margin-top: 7rem;

    @include for-md-down {
      margin-top: 5rem;
    }
  }
}

.contacts__row-items {
  display: grid;
  grid-template-columns: repeat(2, clamp(1rem, 28.4rem, 40rem));
  grid-gap: 7.2rem;

  @include for-bg-down {
    grid-gap: 5rem;
  }

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &.mod-full-row {
    grid-template-columns: 1fr;
  }
}

.contacts__row-caption-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4.4rem;

  @include for-md-down {
    margin-bottom: 2.6rem;
  }
}

.contacts__row-caption {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.6rem;
  color: rgba(18, 21, 42, .2);
  flex: 0 0 auto;
}

.contacts__row-caption-line {
  height: 1px;
  width: 100%;
  flex: 1 1 100%;
  background-color: #DCDCE0;
  margin-left: 2rem;
}

.contacts__grid-item-caption {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 1.2rem;
}

.contacts__grid-item-value {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: 0.08em;

  @include for-md-down {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

a {
  &.contacts__grid-item-value {
    padding: 2rem;
    margin: -2rem;
    text-decoration: underline;
    transition: color 300ms;

    &:hover {
      color: var(--btn-color);
    }
  }
}
