@import '../sizes';

.footer {
  height: 66px;

  @include for-bg-down {
    height: auto;
    padding: 40px 0 20px 0;
  }

  @include for-md-down {
    padding: 40px 0;
  }

  &.mod-light {
    background-color: rgba(217, 218, 221, .4);
  }
}

.footer__page-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @include for-bg-down {
    flex-direction: column;
  }

  @include for-md-down {
    flex-direction: column-reverse;
  }
}

.footer__site-copy {
  font-size: 14px;
  margin-right: 30px;

  @include for-bg-down {
    margin-right: 0;
    margin-bottom: 10px;
  }

  @include for-md-down {
    margin-bottom: 0;
    margin-top: 74px;
  }
}

.footer__menu-list {
  margin: -20px;
  display: flex;
  justify-content: space-between;

  @include for-bg-down {
    margin: 0;
  }

  @include for-md-down {
    flex-direction: column;
  }
}

.footer__menu-item-link {
  display: block;
  padding: 20px;
  font-size: 12px;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  @include for-md-down {
    padding: 14px;
  }
}
