@import 'src/scss/sizes';

.header {
  z-index: 50;

  @include for-vs-down {
    border-bottom: 1px solid rgba(250, 250, 250, .2);
  }

  @include for-bg-down {
    position: sticky;
    top: 0;
  }
}

.header__sections-wrapper {
  padding: 0;
}

.header__logo {
  height: 30px;

  @include for-bg-down {
    height: 26px;
  }
}

.header__section-center {
  @include for-bg-down {
    justify-content: flex-end;
  }
}

.header__center-block-wrapper {
  border-bottom: 1px solid rgba(250, 250, 250, .2);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include for-vs-down {
    border-bottom: none;
  }
}

.header__contacts-list {
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.header__contact {
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #fff;
  transition: color 250ms;

  @include for-fl-down {
    font-size: 16px;
  }

  &:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }

  & + & {
    margin-left: 46px;

    @include for-fl-down {
      margin-left: 0;
    }
  }
}

.header__main-logo-link {
  display: flex;
  align-items: center;
  &:hover {
    .header__main-logo {
      fill: #fff;
    }
  }
}

.header__main-logo {
  height: 32px;
  fill: var(--secondary-color);
  transition: fill 350ms;

  @include for-vs-down {
    height: 28px;
  }
}

.header__control-wrapper {
  display: flex;
  align-items: center;
}

.header__eyes-btn {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  &:hover {
    .header__eyes-icon {
      fill: var(--secondary-color);
    }
  }

  @include for-sm-down {
    margin-left: 0;
  }
}

.header__eyes-icon {
  height: 34px;
  fill: #fff;
  transition: fill 300ms;

  @include for-bg-down {
    height: 24px;
  }
}

.header__auth-btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: none !important;

  &.mod-show {
    display: block !important;

    @include for-fl-down {
      display: flex;
    }
  }

  @include for-fl-down {
    border-radius: 0 20px 20px 20px;
    background-color: var(--btn-color);
    align-items: center;
    justify-content: center;

    .header__auth-btn-icon {
      height: 20px;
    }
  }

  @include for-bg-down {
    padding: 10px;

    .header__auth-btn-icon {
      height: 16px;
    }
  }
}

.header__burger-btn {
  margin-right: 16px;

  @include for-md-down {
    margin-right: 8px;
  }
}
