@import '../sizes';

.footer {
  height: 6.6rem;

  @include for-bg-down {
    height: auto;
    padding: 4rem 0 2rem 0;
  }

  @include for-md-down {
    padding: 4rem 0;
  }

  &.mod-light {
    background-color: rgba(217, 218, 221, .4);
  }
}

.footer__page-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @include for-bg-down {
    flex-direction: column;
  }

  @include for-md-down {
    flex-direction: column-reverse;
  }
}

.footer__site-copy {
  font-size: 1.4rem;
  margin-right: 3rem;

  @include for-bg-down {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  @include for-md-down {
    margin-bottom: 0;
    margin-top: 7.4rem;
  }
}

.footer__menu-list {
  margin: -2rem;
  display: flex;
  justify-content: space-between;

  @include for-bg-down {
    margin: 0;
  }

  @include for-md-down {
    flex-direction: column;
  }
}

.footer__menu-item-link {
  display: block;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  @include for-md-down {
    padding: 1.4rem;
  }
}
