.modal-location__container {
  padding: 0;
  background-color: initial;
}

.modal-location__content {
  padding: 4rem 5.2rem;
  background-color: #fff;
}

.modal-location__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal-location__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
}

.modal-location__map-wrapper {
  width: 100%;
}

.modal-location__map {
  width: 100%;
  object-fit: cover;
}
