.modal-cookies__wrapper {
  &:not(.mod-show) {
    .modal-cookies {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.modal-cookies {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 150;
  background-color: rgba(112, 112, 112, .9);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 0 2rem;
  white-space: nowrap;

  @include for-sm-down {
    white-space: initial;
    width: calc(100% - 4rem);
    left: 0;
    transform: initial;
    padding: 1rem 1.6rem;
  }
}

.modal-cookies__text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
}

.modal-cookies__btn {
  background-color: var(--btn-color);
  font-size: 1.8rem;
  line-height: 2rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-left: 2rem;
}
