@import '../sizes';

.news-page {
  padding-top: 8.0rem;
  padding-bottom: 8.0rem;

  @include for-md-down {
    padding-top: 6.0rem;
    padding-bottom: 6.0rem;
  }

  @include for-sm-down {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
  }

  @include for-xxs-down {
    padding-top: 3.0rem;
    padding-bottom: 3.0rem;
  }
}

.news-page__news-list {
  &:not(.mod-no-border) {
    border-top: 1px solid rgba(65, 68, 85, .2);
    border-bottom: 1px solid rgba(65, 68, 85, .2);
  }

  &.mod-no-border {
    .news-page__news-item {
      padding: 0;
    }
  }
}

.news-page__news-item {
  border-top: 1px solid rgba(65, 68, 85, .2);
  padding: 4.2rem 0;

  &:first-child {
    border-top: none;
  }

  @include for-md-down {
    padding: 3rem 0;
  }
}

.news-page__news-link {
  &.mod-link {
    &:hover {
      .news-page__news-title, .news-page__content-link {
        text-decoration: underline;
        text-decoration-color: #cccccc;
      }
    }
  }
}

.news-page__news-title {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.4;
  margin-bottom: 2.6rem;
  margin-top: -.8rem;

  @include for-md-down {
    font-size: 2.0rem;
    margin-bottom: 2.2rem;
  }

  @include for-sm-down {
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 2.0rem;
  }
}

.news-page__content-container {
  &:not(.mod-open) {
    max-height: 3.4rem !important;
  }

  .news-page__content {
    padding-bottom: 0;
  }

  + .program__content-info-btn-show {
    padding-top: 2rem;
  }
}

.news-page__content {
  font-size: 1.4rem;
  line-height: 1.2;
}

.news-page__image {
  height: clamp(20.5rem, 50rem, 50.6rem);
  object-fit: contain;
}

.news-page__video-wrapper {
  width: 76.0rem;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}

.news-page__video {
  width: 100%;
  height: 100%;
}

.news-page__video-caption {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 2.0rem;

  @include for-md-down {
    font-size: 1.4rem;
    margin-top: 1.6rem;
  }

  @include for-sm-down {
    font-size: 1.2rem;
    margin-top: 1.0rem;
  }
}

.news-page__slider {
  display: grid;
  grid-template-columns: 1fr 15.0rem;
  grid-gap: 6.8rem;

  @include for-bg-down {
    grid-gap: 2.0rem;
    grid-template-columns: 1fr 15.0rem;
  }

  @include for-md-down {
    grid-template-columns: 1fr;
    grid-gap: 3.0rem;
  }

  @include for-sm-down {
    grid-gap: 2.0rem;
  }
}

.news-page__slider-container {
  width: 100%;
}

.news-page__slider-wrapper {
  display: flex;
}

.news-page__slider-slide {
  width: 100%;
  height: 100%;
}

.news-page__slider-image {
  height: 100%;
}

.news-page__slider-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem -2rem -2rem -2.0rem;

  @include for-bg-down {
    margin: 1rem -1.2rem -1.2rem -1.2rem;
  }

  @include for-md-down {
    justify-content: center;
    margin: -1.2rem -1.2rem -1.2rem -1.2rem;
  }

  @include for-sm-down {
    margin: -.6rem -.6rem -.6rem -.6rem;
  }
}

.news-page__slider-btn {
  padding: 2.0rem;

  @include for-bg-down {
    padding: 1.2rem;
  }

  @include for-sm-down {
    padding: .6rem;
  }

  &:hover {
    .news-page__slider-btn-icon {
      fill: var(--secondary-color);
    }
  }

  &:disabled {
    .news-page__slider-btn-icon {
      fill: #bdbdbd;
    }
  }
}

.news-page__slider-btn-icon {
  fill: #000;
  transition: fill 250ms;
}

.news-page__image-wrapper, .news-page__news-list, .news-page__text-wrapper, .news-page__video-container, .news-page__slider {
  margin-bottom: 6.6rem;

  @include for-bg-down {
    margin-bottom: 4.0rem;
  }

  @include for-md-down {
    margin-bottom: 3.0rem;
  }

  @include for-sm-down {
    margin-bottom: 2.0rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.news-page__text-wrapper {
  a {
    transition: color 50ms;

    &:hover {
      text-decoration: underline;
      color: var(--secondary-color);
    }
  }
}
