@import '../sizes';

.pagination {
  margin-top: 5.0rem;
}

.pagination__page-num-list {
  display: flex;
}

.pagination__link {
  padding: 1.8rem 2.4rem;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.4rem;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  cursor: pointer;
  transition: color 200ms, background-color 200ms, border-color 200ms;
  user-select: none;
  display: block;

  &.checked {
    background-color: var(--btn-color);
    border-color: transparent !important;
    box-shadow: -2px 0px 0px 0px var(--btn-color);
    color: #fff;
  }

  &:first-child {
    border-radius: 0 0 0 2.8rem;
    border-left: .2rem solid #000;
    box-shadow: none !important;
  }

  &:last-child {
    border-radius: 0 28px 28px 0;
  }

  &:hover {
    background-color: var(--btn-color-muted);
    color: #fff;
  }

  @include for-md-down {
    padding: 1.6rem 2.2rem;
  }

  @include for-sm-down {
    padding: 1.4rem 1.8rem;
    font-weight: normal;
  }

  @include for-xxs-down {
    padding: 1rem 1.6rem;
  }
}
