.profile__form-radio-container {
  margin-bottom: 4rem;
}

.profile__participation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  .gl__subtitle {
    @include for-md-up {
      margin-bottom: 0;
    }
  }

  @include for-md-down {
    flex-direction: column;
  }
}

.profile__participation-mark {
  border-radius: 0 25px 25px 25px;
  padding: 1.4rem;
  min-width: 22rem;
  max-width: 100%;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  height: min-content;
  transition: background-color 250ms;

  &.mod-no-start {
    background-color: var(--btn-color);
  }

  &.mod-in-progress {
    background-color: #F2B311;
  }

  &.mod-end {
    background-color: #61BD51;
  }

  &:not(.mod-show) {
    display: none;
  }

  &:disabled {
    background-color: #302463;
    pointer-events: none;
    user-select: none;
  }
}

.profile__form-inputs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 5.8rem;

  & + & {
    margin-top: 6.2rem;

    @include for-md-down {
      margin-top: 4rem;
    }
  }

  @include for-lg-down {
    grid-template-columns: 100%;
  }

  @include for-sm-down {
    grid-gap: 2.5rem;
  }
}

.profile__type-organization {
  grid-row: 3 / 5;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-lg-down {
    grid-row: initial;
    grid-column: initial;
  }
}

.profile__submit-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;

  @include for-sm-down {
    flex-direction: column;
    align-items: flex-start;
  }

  &.mod-item-list {
    margin-top: 0;

    @include for-md-down {
      margin-top: 3rem;
    }
  }

  &.mod-end {
    justify-content: flex-end;

    @include for-sm-down {
      justify-content: flex-start;
    }
  }
}

.profile__submit-block-hint {
  display: flex;
  margin-right: 4rem;

  @include for-sm-down {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.profile__submit-block-hint-mark {
  position: relative;
  top: initial;
  left: initial;
  z-index: initial;
  margin-right: 0.6rem;
}

.profile__submit-block-hint-caption {
  font-size: 1.4rem;
  line-height: 1.3;

  &.mod-grey {
    color: #737794;
    font-style: italic;
  }
}

.profile__submit-block-hint-caption-mark {
  color: var(--btn-color);
}

.profile__submit-block-hint-caption-link {
  color: var(--btn-color);

  &:hover {
    text-decoration: underline;
  }
}

.profile__btn {
  padding: 1.6rem 4rem !important;
  font-weight: 500;

  @include for-sm-down {
    padding: 1rem 3.5rem !important;
  }
}

.profile__form-btn {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  font-weight: normal;
  letter-spacing: 1px;

  @include for-md-down {
    max-width: 33rem !important;
    margin-top: 3rem;
  }

  @include for-sm-down {
    max-width: none !important;
  }
}

.profile__form-btn-icon {
  height: 1.6rem;
}

.profile__form-btn-download-hint {
  font-size: 14px;
  line-height: 1.3;
  font-style: italic;
  margin-top: 1.6rem;
  color: #737794;
}

.profile__error-wrapper {
  transition: opacity 300ms;
  margin-left: 10rem;

  &:not(.mod-show) {
    display: none;
  }

  @include for-md-down {
    margin-left: 0;
    opacity: 1;
    display: none;
    margin-top: 3rem;

    &.mod-show {
      display: block;
    }
  }
}

.profile__error {
  font-style: italic;
  font-size: 14px;
  line-height: 1.3;
  padding: 1.6rem 6.6rem;
  background-color: rgba(223, 18, 92, .2);
  border-radius: 25px;
  position: relative;

  .mark {
    color: var(--btn-color)
  }
}

.profile__error-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  height: 2.4rem;
}

.profile__university-type {
  transition: opacity 300ms;

  &:not(.mod-show) {
    opacity: 0;

    @include for-lg-down {
      display: none;
    }
  }
}

.profile__form-container {
  padding: 6rem 0;

  & + & {
    border-top: 1px solid rgba(65, 68, 85, .2)
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.profile__form-radio-input-title {
  font-size: 14px;
  line-height: 1.3;
  color: var(--main-color);
  margin-bottom: 2.6rem;
}
