.program__top-block-wrapper {
  background: var(--main-color);
  padding-top: 2.4rem;
  padding-bottom: 2.0rem;
}

.program__bottom-block-container {
  background: var(--main-color);
  padding-bottom: 10.6rem;
}

@media (max-width: 768px) {
  .program__bottom-block-container {
    padding-bottom: 0;
    margin-bottom: 1.0rem;
  }
}

.program__bottom-blocks {
  padding: 1.8rem 0 6.4rem 0;
  background-color: #fff;
  border-radius: 0 25px 25px 25px;

  @include for-md-down {
    border-radius: 0 25px 0 0;
    margin: 0 -20px;
    padding: 0;
    padding-bottom: 6.4rem;
  }
}

.program__bottom-block-wrapper {
  display: none;
}

.program__bottom-block-wrapper.mod-show {
  display: block;
}

.program__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.6rem;
}

@media (max-width: 768px) {
  .program__head {
    display: block;
    margin-bottom: 2.6rem;
  }
}

.program__title {
  margin-bottom: 0;
}

.program__navigate-wrapper {
  margin: 3rem -1rem -1rem 2.0rem;
}

@media (max-width: 768px) {
  .program__navigate-wrapper {
    margin-left: 0;
    margin-top: 5.4rem;
  }
}

.program__navigate-radio-wrapper {
  display: inline-block;
  margin-right: 1.0rem;
  margin-bottom: 1.0rem;
}

.program__navigate-radio {
  display: none;
}

.program__navigate-radio:checked + .program__navigate-radio-content {
  background-color: #302463;
  color: #fff;
  border-color: transparent;
}

@media (min-width: 1024px) {
  .program__navigate-radio-content:hover {
    border-color: transparent;
    background-color: #6b59b6;
    color: #fff !important;
  }
}

.program__navigate-radio-content {
  font-weight: 600;
  font-size: 2.2rem;
  white-space: nowrap;
  padding: 1.6rem 2.8rem;
  border-radius: 0 35px 35px 35px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  height: min-content;
  transition: background-color 250ms, border-color 250ms;
  display: block;
  cursor: pointer;

  &.mod-white-background {
    border-color: #000;
    color: #000;
  }
}

@media (max-width: 1023px) {
  .program__navigate-radio-content {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}

.program__navigate-radio-content:last-child {
  margin-right: 0;
}

.program__filters-wrapper-caption {
  display: none;
}

@media (max-width: 768px) {
  .program__filters-wrapper-caption {
    display: block;
    font-size: 1.4rem;
    color: rgba(229, 229, 229, 0.2);
    margin-bottom: 1.8rem;
  }
}

.program__filters-wrapper {
  margin-bottom: -1.4rem;
  margin-right: -1.4rem;
}

.program__filter-checkbox-wrapper {
  margin-bottom: 1.4rem;
  margin-right: 1.4rem;
  display: inline-block;
}

.program__filter-checkbox {
  display: none;
}

.program__filter-checkbox:checked + .program__filter-checkbox-content {
  background-color: #302463;
  color: #fff;
  background-image: url('/img/old/img/filter-minus.svg');
}

@media (min-width: 1024px) {
  .program__filter-checkbox-content:hover {
    background-color: #6b59b6;
    color: #fff;
    background-image: url('/img/old/img/filter-minus.svg');
  }
}

.program__filter-checkbox-content {
  font-weight: 600;
  font-size: 1.4rem;
  background-size: 1.8rem 1.8rem;
  transition: background-color 350ms, color 350ms, background-image 100ms;
  background-image: url('/img/old/img/filter-plus.svg');
  background-repeat: no-repeat;
  background-position: top 50% right 2.0rem;
  padding: 2rem 8rem 2rem 2.0rem;
  display: block;
  background-color: #fff;
  border-radius: 28px 28px 28px 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .program__filter-checkbox-content {
    padding: 1rem 4.6rem 1rem 2.0rem;
    background-size: 1.6rem 1.6rem;
  }
}

.program__content-wrapper {

  margin: 0;
}

@media (max-width: 768px) {
  .program__content-wrapper {
    border-radius: 0 25px 0 0;
  }
}

.program__padding-content {
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

@media (max-width: 1023px) {
  .program__padding-content {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.program__content-item {
  //grid-template-columns: 1fr 8fr 5fr;
  display: flex;
  grid-gap: 4.0rem;
  border-bottom: 1px solid var(--main-color);
  padding-top: 4.0rem;
  padding-bottom: 4.0rem;
}

.program__content-item {
  &.mod-hide, &.mod-hide-by-filter {
    display: none;
  }

  &:not(.mod-show) {
    display: none;
  }
}

@media (max-width: 1023px) {
  .program__content-item {
    grid-gap: 2.0rem;
  }
}

@media (max-width: 768px) {
  .program__content-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 4rem 1.0rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }
}

@media (max-width: 567px) {
  .program__content-item {
    grid-template-columns: 2.6rem 1fr;
  }
}

.program__content-item.last-of-type {
  border-bottom: none;
}

.program__content-item-time-wrapper {
  width: 100%;
  height: 100%;
  flex: 0 1;
}

@media (max-width: 768px) {
  .program__content-item-time-wrapper {
    grid-row: 1 / 3;
  }
}

.program__content-item-time {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--secondary-color);
  transform: translate(-20%, 50%) rotate(270deg);
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 768px) {
  .program__content-item-time {
    transform: translate(-20%, 100%) rotate(270deg);
  }
}

.program__content-info {
  flex: 1 0;
}

.program__content-info-tile {
  margin-bottom: 3.4rem;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-top: -.8rem;
}

@media (max-width: 768px) {
  .program__content-info-tile {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 1.2rem;
    margin-top: -.6rem;
  }
}

.program__content-info-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms, margin-bottom 300ms;
}

.program__content-info-list.mod-show {
  max-height: 20.0rem;
  margin-bottom: 2.3rem;
}

.program__content-info-item {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-left: 2.8rem;
  position: relative;
}


.program__content-info-item:before {
  position: absolute;
  content: '';
  top: 1.0rem;
  left: 0;
  width: 1.0rem;
  height: .2rem;
  background-color: #000;
}

.program__content-info-item:last-child {
  margin-bottom: 0;
}

.program__content-info-btn-show {
  font-weight: 600;
  font-size: 1.4rem;
  padding-bottom: .2rem;
  border-bottom: 1px dashed transparent;
  transition: border-bottom 250ms;
  margin-bottom: 4.0rem;
  color: var(--secondary-color);
}

.program__content-info-btn-show:hover {
  border-bottom-color: var(--secondary-color);
}

.program__content-info-marks-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .program__content-info-marks-wrapper {
    display: block;
  }
}

.program__content-info-geo {
  margin-right: 4.0rem;
  font-size: 1.4rem;
  padding-left: 2.8rem;
  background-image: url('/img/old/img/geolokation.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 1.6rem;
}

.program__content-info-geo:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .program__content-info-geo {
    margin-right: 0;
    margin-bottom: 1.8rem;
  }
}

.program__content-info-mark {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  padding: .4rem 1.6rem;
  background: #000;
  border-radius: 0 1.4rem 1.4rem 1.4rem;
  display: inline;
}

.program__content-author-wrapper {
  display: flex;
  flex: 0 1 30rem;
}

@media (max-width: 1024px) {
  .program__content-author-wrapper {
    flex: 0 1 26rem;
  }
}

.program__content-author-image-wrapper {
  width: 7.4rem;
  height: 7.0rem;
  margin-right: 3.2rem;
  flex: 0 0 7.4rem;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 6.4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 28px 28px 28px 0;
    background-color: #000;
  }

  &:after {
    height: 5.6rem;
    width: 5.6rem;
  }
}

.program__content-author-image {
  position: absolute;
  height: 5.6rem;
  width: 5.6rem;
  object-fit: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.program__content-author-caption {
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.6rem;
  margin-bottom: 1.6rem;
}

.program__content-author-value {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  .program__site-width-none {
    padding: 0;
  }
}

.program__btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2.8rem;

  @include for-md-down {
    display: block;
  }
}

.program__btns-wrapper-left {
  display: flex;
}

.program__btn {
  & + & {
    margin-left: 1.6rem;
  }

  @include for-sm-down {
    padding: 1.8rem 2.8rem !important;
  }

  &.mod-hide {
    display: none;
  }
}

@media (max-width: 426px) {
  .program__btns-wrapper {
    flex-direction: column;
  }
}

.program__btn-download {
  margin-left: 1.8rem;

  @include for-md-down {
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 426px) {
  .program__btn-download {
    margin-left: 0 !important;
    margin-top: 1.6rem !important;
  }
}
