@import 'src/scss/sizes';

.sticky-menu {
  height: var(--stycky-menu-height);
  position: sticky;
  top: 0;
  z-index: 7;

  &.mod-scroll {
    background-color: #292C3F;

    &.mod-light {
      background-color: #ececec;
    }

    .sticky-menu__section {
      &:nth-child(1), &:nth-child(3) {
        display: flex;
      }
    }
  }

  &.mod-light {
    .sticky-menu__item {
      color: #000;
    }

    .header__logo {
      fill: #000;
    }
  }
}

.sticky-menu__section {
  &:nth-child(1), &:nth-child(3) {
    display: none;
  }
}

.sticky-menu__item-list {
  margin: 0 -2.0rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sticky-menu__item {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  transition: color 200ms;

  &:hover {
    color: var(--secondary-color) !important;
    text-decoration: underline;
  }
}

.sticky-menu__item-link {
  padding: 2.0rem;
}
