<div class="filters__selects-wrapper">
  {{> controls/select
    isFilterSelect=true
    placeholder="Все даты"
    name="commonDates"
    type="calendar"
    option1="option 1" option2="option 2" option3="option 3" option4="option 4" option5="option 5"
    option6="option 6" option7="option 7" option8="option 8" option9="option 9" option10="option 10"
    option11="option 12" option13="option 13" option14="option 14" option15="option 15" option16="option 16"
  }}
  {{> controls/select
    isFilterSelect=true
    placeholder="Тема"
    name="topics"
    type="calendar"
    option1="Вузы" option2="Бизнес" option3="Культурная программа" option4="Стартапы" option5="Органы гос.власти"
  }}
  {{> controls/select
    isFilterSelect=true
    placeholder="Аудитория"
    name="auditoriums"
    type="calendar"
    option1="большой зал" option2="аудитория 104" option3="аудитория 105" option4="аудитория 106" option5="аудитория 107"
    option6="аудитория 108" option7="аудитория 109" option8="аудитория 110" option9="аудитория 111" option10="аудитория 112"
  }}
  {{> controls/select
    isFilterSelect=true
    placeholder="Спикер"
    name="speakers"
    type="calendar"
    option1="Александр Горник" option2="Андрей Бедняков" option3="Марина Кравец"
  }}

  <div class="filters__btn-ok-wrapper">
    <button type="button" class="filters__btn-ok gl__main-btn mod-no-shadow gl__sm-show js-modal-filter-close">ОК</button>
  </div>
</div>
