<footer class="app-footer">
  <div class="app-footer__section site-width">
    <div class="app-footer__inner">
      <div class="app-footer__site-copy">
        &copy; Digital Innopolis Days
      </div>
      <div class="app-footer__policy-links">
        <a href="#">Пользовательское соглашения и Договор оказания услуг</a>
        <a href="#">Договор оказания услуг</a>
        <a href="#">Политика возвратов</a>
      </div>
    </div>
  </div>
</footer><!-- app-footer -->
