<header class="header" id="header-host">
  <div class="header__section">
    <button type="button" class="header__burger-btn gl__header__burger-btn gl__bg-show"></button>
    <a href="/">
      <img src="img/header/logo.svg" alt="logo" class="header__logo">
    </a>
  </div>

  <div class="header__section gl__page-content">
    <div class="header__contacts-list gl__bg-hide">
      <a href="tel:+78004572200" class="header__contact">
        8 800 457 22 00
      </a>
      <a href="mailto:did@innopolis.ru" class="header__contact">
        did@innopolis.ru
      </a>
    </div>

    <a href="" class="header__main-logo-link gl__bg-hide">
      <svg width="210" height="48" aria-hidden="true" class="header__main-logo">
        <use xlink:href="#innopolis"></use>
      </svg>
    </a>

    <div class="header__control-wrapper">
      <div class="header__lang-select-wrapper">
       <div class="header__lang-select header__lang-selected-item">(упр js)</div>
        <div class="header__lang-select-options">
          <label class="header__lang-radio-wrapper">
            <input type="text" class="header__lang-radio">
            <span class="header__lang-select header__lang-option-item">(упр js)</span>
          </label>
        </div>
      </div>
      <button type="button" class="header__eyes-btn">
        <svg width="34" height="34" aria-hidden="true" class="header__eyes-icon">
          <use xlink:href="#eyse"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="header__section">
    <button class="header__auth-btn gl__main-btn mod-small">
      <span class="gl__fl-hide">Авторизоваться</span>
      <span class="gl__fl-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
    </button>
  </div>
</header>



<!--<header class="app-header" id="header-host">-->
<!--  <div class="app-header__inner">-->
<!--    <div class="app-header__left">-->
<!--      <button class="app-header__burger"></button>-->
<!--      <div class="app-header__logo">-->
<!--        <img src="img/old/img/logo.svg" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="app-header__middle">-->
<!--      <div class="app-header__contacts">-->

<!--        <div class="app-header__mail">-->
<!--          <a href="mailto:did@innopolis.ru">did@innopolis.ru</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="app-header__dop-logo">-->
<!--        <img src="img/old/img/logo2.svg" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->

