<header class="app-header" id="header-host">
  <div class="app-header__inner">
    <div class="app-header__left">
      <button class="app-header__burger"></button>
      <div class="app-header__logo">
        <img src="img/old/img/logo.svg" alt="">
      </div>
    </div>
    <div class="app-header__middle">
      <div class="app-header__contacts">

        <div class="app-header__mail">
          <a href="mailto:did@innopolis.ru">did@innopolis.ru</a>
        </div>
      </div>
      <div class="app-header__dop-logo">
        <img src="img/old/img/logo2.svg" alt="">
      </div>
    </div>
  </div>
</header>
