<header class="header {{#if lightPage }}mod-light{{/if}} gl__sections-top" id="header-host">
  <div class="header__sections-wrapper gl__sections-top__sections-wrapper">
    <div class="gl__sections-top__section">
      <button type="button" class="header__burger-btn gl__header__burger-btn gl__bg-show"></button>
      <a href="/">
        <svg width="64" height="30" aria-hidden="true" class="header__logo">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </div>

    <div class="header__section-center gl__sections-top__section gl__page-content">
      <div class="header__center-block-wrapper">
        <div class="header__contacts-list gl__lg-hide">
          <a href="tel:+78005501766" class="header__contact">
            8 (800) 550-17-66
          </a>
          <a href="mailto:did@innopolis.ru" class="header__contact">
            did@innopolis.ru
          </a>
        </div>

        <a href="" class="header__main-logo-link gl__lg-hide">
          <svg width="210" height="48" aria-hidden="true" class="header__main-logo">
            <use xlink:href="#innopolis"></use>
          </svg>
        </a>

        <div class="header__control-wrapper">
<!--          <div class="header__lang-select-wrapper">-->
<!--            <div class="header__lang-select header__lang-selected-item">рус</div>-->
<!--            <div class="header__lang-select-options">-->
<!--              <label  class="header__lang-radio-wrapper">-->
<!--                <input type="text" class="header__lang-radio">-->
<!--                <span class="header__lang-select header__lang-option-item">eng</span>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
          <button type="button" class="header__eyes-btn">
            <svg width="34" height="34" aria-hidden="true" class="header__eyes-icon">
              <use xlink:href="#eyse"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="gl__sections-top__section">
      <button class="header__auth-btn mod-show gl__main-btn mod-small {{#if lightPage }}mod-no-shadow{{/if}} js-open-auth-modal" value="auth">
        <span class="gl__bg-hide">Авторизоваться</span>
        <span class="gl__bg-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
      </button>

      <a href="/account-menu.html" class="header__auth-btn gl__main-btn mod-small {{#if lightPage }}mod-no-shadow{{/if}}">
        <span class="gl__bg-hide">Кабинет</span>
        <span class="gl__bg-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
      </a>
    </div>
  </div>
</header>
