<footer class="footer {{#if lightPage }}mod-light{{/if}}" id="footer-host">
  <div class="footer__page-content gl__page-content">
    <div class="footer__site-copy">
      &copy;Digital Innopolis Days
    </div>

    <ul class="footer__menu-list">
      <li class="footer__menu-item">
        <a href="" class="footer__menu-item-link">Пользовательского соглашения и Договором оказания услуг</a>
      </li>
      <li class="footer__menu-item">
        <a href="" class="footer__menu-item-link">Договором оказания услуг</a>
      </li>
      <li class="footer__menu-item">
        <a href="" class="footer__menu-item-link">Политика возвратов</a>
      </li>
    </ul>
  </div>
</footer>
