<div class="mobile-box" id="mobile-box-host">
  <div class="mobile-box__inner {{#if lightPage }}mod-light{{/if}}">
    <div class="mobile-box__navigation">
      <ul>
        <li>
          <a href="#news-block-host" class="navigation-link">Новости</a>
        </li>

        <li>
          <a href="" class="navigation-link">Календарь мероприятий</a>
        </li>

        <li>
          <a href="#program-host" class="navigation-link">Программа</a>
        </li>

        <li>
          <a href="#partners-host" class="navigation-link">Партнеры</a>
        </li>

        <li>
          <a href="#contacts-host" class="navigation-link">Контакты</a>
        </li>

      </ul>
    </div>
    <div class="mobile-box__bottom">
      <div class="mobile-box__contacts">

        <div class="mobile-box__mail">
          <a href="mailto:did@innopolis.ru">did@innopolis.ru</a>
        </div>
      </div>
      <div class="mobile-box__dop-logo">
        <img src="img/innopolis.svg" alt="" style="fill: #fff">
      </div>
    </div>
  </div>
</div><!-- mobile-box -->
