<div class="map" id="map-host">
  <div class="map__wrapper">
    <div class="map__element js-contacts-map"
         data-lat="55.75368106897133"
         data-lng="48.74576081880187"
         data-zoom="17"
         data-address="Университетская ул., 1"
         data-pin="img/map/pin.svg">
    </div>
  </div>
</div>
