<div class="modal-cookies__wrapper mod-show" id="modal-cookies-host">
  <div class="modal-cookies {{#if lightPage}}mod-light-page{{/if}}">
    <div class="modal-cookies__text">
      Этот веб-сайт использует файлы cookie
    </div>
    <button type="button" class="modal-cookies__btn" id="modal-cookies-btn">
      ok
    </button>
  </div>
</div>
