<div class="modal-payment-participation modal" id="modal-{{type}}-host">
  <div class="modal__container">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title">
          Оплата участия
        </div>
        <button type="button" class="modal__close-btn">
          <svg width="20" height="20" aria-hidden="true" class="modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <button type="button" class="modal-payment-participation-btn gl__main-btn mod-no-shadow mod-long">
        Оплатить как физ. лицо
      </button>

      <button type="button" class="modal-payment-participation-btn gl__main-btn mod-no-shadow mod-long">
        Оплатить как юр. лицо
      </button>
    </div>
  </div>
</div>
