<div class="modal-password modal" id="modal-{{type}}-host">
  <div class="modal__container">
    <div class="modal__content">
      <form data-need-validation data-parsley-validate data-parsley-focus="none" class="gl__form">
        <div class="modal__header">
          <div class="modal__title">
            {{title}}
          </div>
          <button type="button" class="modal__close-btn">
            <svg width="20" height="20" aria-hidden="true" class="modal__close-icon">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>

        <div class="modal__caption">
          Для восстановления пароля введите ваш e-mail. На почту придет сообщение с ссылкой для восстановления.
        </div>

        <ul class="modal__inputs-list">
          <li class="gl__input-container">
            <div class="gl__input-title">E-mail</div>
            {{> controls/input-main
              required=true
              inputType="email"
              name="contact"
              type=type
              placeholder="info@gmail.com"
              parsleyType="email"
            }}
          </li>
        </ul>

        <div class="gl__error-block js-error-block">
          <img src="img/old/img/error-form.svg" alt="" class="gl__error-icon">
          <div class="gl__error-content">
            Ошибка
          </div>
        </div>

        <button type="submit" class="gl__btn-submit js-btn-submit modal__btn-submit gl__main-btn mod-long mod-no-shadow mod-small">
          Сбросить пароль
        </button>
      </form>
    </div>

    <div class="modal__success-text-wrapper">
      <button type="button" class="modal__close-btn">
        <svg width="20" height="20" aria-hidden="true" class="modal__close-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
      <div class="modal__success-text">
        Мы отправили письмо на почту, чтобы вы смогли восстановить пароль от аккаунта
      </div>
    </div>
  </div>
</div>
