<div class="modal-location modal" id="modal-{{type}}-host">
  <div class="modal-location__container modal__container">
    <div class="modal-location__content">
      <div class="modal-location__btn-wrapper">
        <button type="button" class="modal__close-btn">
          <svg width="20" height="20" aria-hidden="true" class="modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-location__title js-modal-location-title"></div>
    </div>

    <div class="modal-location__map-wrapper">
      <img src="img/account/map.jpg" alt="" class="modal-location__map">
    </div>
  </div>
</div>
