<div class="modal" id="modal-{{type}}-host">
  <div class="modal__container">
    <div class="modal__success-text-wrapper mod-show">
      <div class="modal__header">
        <div></div>
        <button type="button" class="modal__close-btn">
          <svg width="20" height="20" aria-hidden="true" class="modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <div class="modal__success-text">
        Вы успешно забронировали время:
        <div class="modal__success-time js-thanks-time"></div>
      </div>
    </div>
  </div>
</div>
