<div class="pagination" id="pagination-host">
  <div class="pagination__page-num-list">
    <a href="" class="pagination__link checked">1</a>
    <a href="" class="pagination__link">2</a>
    <a href="" class="pagination__link">3</a>
    <a href="" class="pagination__link">4</a>
    <a href="" class="pagination__link">5</a>
  </div>
</div>
