<div class="sticky-menu gl__sections-top gl__bg-hide {{#if lightPage }}mod-light{{/if}}" id="sticky-menu-host">
  <div class="gl__sections-top__sections-wrapper">
    <div class="sticky-menu__section gl__sections-top__section">
      <a href="/">
        <svg width="64" height="30" aria-hidden="true" class="header__logo {{#if lightPage }}mod-light{{/if}}">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </div>

    <div class="sticky-menu__section gl__sections-top__section gl__page-content">
      <ul class="sticky-menu__item-list {{#if lightPage }}mod-light{{/if}}">
        <li class="sticky-menu__item">
          <a href="#news-block-host" class="sticky-menu__item-link">
            Новости
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="" class="sticky-menu__item-link">
            Календарь мероприятий
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#program-host" class="sticky-menu__item-link">
            Программа
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#partners-host" class="sticky-menu__item-link">
            Партнёры
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#contacts-host" class="sticky-menu__item-link">
            Контакты
          </a>
        </li>
      </ul>
    </div>

    <div class="sticky-menu__section gl__sections-top__section">
      <button type="button" class="header__auth-btn mod-show gl__main-btn mod-small {{#if lightPage }}mod-no-shadow{{/if}} js-open-auth-modal" value="auth">
        <span class="gl__bg-hide">Авторизоваться</span>
        <span class="gl__bg-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
      </button>

      <a href="/account-menu.html" class="header__auth-btn gl__main-btn mod-small {{#if lightPage }}mod-no-shadow{{/if}}">
        <span class="gl__bg-hide">Кабинет</span>
        <span class="gl__bg-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
      </a>
    </div>
  </div>
</div>
