<div class="sticky-menu gl__sections-top gl__bg-hide" id="sticky-menu-host">
  <div class="gl__sections-top__sections-wrapper">
    <div class="sticky-menu__section gl__sections-top__section">
      <a href="/">
        <img src="img/header/logo.svg" alt="logo" class="header__logo">
      </a>
    </div>

    <div class="sticky-menu__section gl__sections-top__section gl__page-content">
      <ul class="sticky-menu__item-list">
        <li class="sticky-menu__item">
          <a href="#news-block-host" class="sticky-menu__item-link">
            Новости
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="" class="sticky-menu__item-link">
            Календарь мероприятий
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#program-host" class="sticky-menu__item-link">
            Программа
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#partners-host" class="sticky-menu__item-link">
            Партнёры
          </a>
        </li>
        <li class="sticky-menu__item">
          <a href="#contacts-host" class="sticky-menu__item-link">
            Контакты
          </a>
        </li>
      </ul>
    </div>

    <div class="sticky-menu__section gl__sections-top__section">
      <button class="header__auth-btn gl__main-btn mod-small">
        <span class="gl__fl-hide">Авторизоваться</span>
        <span class="gl__fl-show">
        <img src="img/header/auth-btn.svg" alt="" class="header__auth-btn-icon">
      </span>
      </button>
    </div>
  </div>
</div>
