<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="format-detection" content="telephone=no">
  <script src="assets/js/ie11CustomProperties.js"></script>
  <link rel="stylesheet" href="css/styles.min.css"/>
  <title>
    {{ title }}
  </title>
</head>

<body class="no-touch">
<div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
  {{> sprite }}
</div>

<div class="layout__wrapper">
  {{> modal-form type="participation" title="Отправить заявкуна участие" }}
  {{> modal-form type="partner" title="Стать партнером" }}

  <div class="layout__header">
    {{> layout-header }}
  </div>

  <main class="layout__content">
    {{#block "main"}}{{/block}}
  </main>

  <div class="layout__footer">
    {{> layout-footer }}
  </div>

  <div class="mobile-box">
    <div class="mobile-box__inner">
      <div class="mobile-box__navigation">
        <ul>

          <li>
            <a href="#block2" class="navigation-link">Основные треки</a>
          </li>

          <li>
            <a href="#block4" class="navigation-link">О форуме</a>
          </li>

          <li>
            <a href="#block6" class="navigation-link">Билеты</a>
          </li>

          <li>
            <a href="#block7" class="navigation-link">Партнеры</a>
          </li>

          <li>
            <a href="#block8" class="navigation-link">Контакты</a>
          </li>

        </ul>
      </div>
      <div class="mobile-box__bottom">
        <div class="mobile-box__contacts">

          <div class="mobile-box__mail">
            <a href="mailto:did@innopolis.ru">did@innopolis.ru</a>
          </div>
        </div>
        <div class="mobile-box__dop-logo">
          <img src="img/logo2.svg" alt="">
        </div>
      </div>
    </div>
  </div><!-- mobile-box -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script async="" src="https://api-maps.yandex.ru/2.1/?apikey=5fa6f5ee-c55e-4f35-a5b3-c67b3c581d82&lang=ru_RU"></script>
  <script src="js/app.js"></script>
  <script src="assets/js/backend.js"></script>
</div>
</body>
</html>
