@import '../sizes';

.gl__form {
  .parsley-errors-list {
    display: none;

    + .gl__radio-input-caption {
      color: var(--btn-color);
    }
  }

  .gl__input {
    &.parsley-error {
      border-color: var(--btn-color) !important;
    }
  }
}

.gl__input-container {
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-gap: 1.6rem;
  align-items: center;

  @include for-md-down {
    grid-template-columns: 1fr;
    grid-gap: .8rem;
  }
}

.gl__input-title {
  font-size: 1.6rem;
  color: var(--main-color);

  &.mod-small {
    font-size: 1.4rem;
  }

  @include for-bg-down {
    padding-left: 2rem;
    font-size: 1.4rem;
  }
}

.gl__input-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  &.mod-password {
    .gl__input {
      padding-right: 4.6rem !important;
    }
  }
}

.gl__input {
  width: 100% !important;
  padding: 1.6rem 2.2rem !important;
  line-height: 1 !important;
  font-size: 1.4rem !important;
  color: var(--main-color) !important;
  background-color: var(--pale-secondary-color) !important;
  height: auto !important;
  border: 1px solid transparent;
  border-radius: 3rem !important;

  @include for-bg-down {
    padding: 1rem 2rem !important;
  }
}

.gl__input-mark-required {
  position: absolute;
  content: '';
  width: .6rem;
  height: .6rem;
  background-color: var(--btn-color);
  border-radius: 100%;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 1;
}

.gl__radio-input-container {
  display: flex;
  cursor: pointer;
  margin-top: 4rem;

  @include for-fl-down {
    margin-top: 3rem;
  }

  @include for-bg-down {
    margin-top: 2rem;
  }
}

.gl__radio-input-wrapper {
  cursor: pointer;

  &.parsley-error {
    .gl__radio-input-content {
      border: 2px solid var(--btn-color);
    }
  }
}

.gl__error-block {
  display: flex;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms;

  &.mod-show {
    max-height: 3rem;
    margin: 3.8rem 0;
  }
}

.gl__error-block {
  font-size: 1.4rem;
  color: var(--main-color);
}

.gl__error-icon {
  height: 2rem;
  margin-right: 2.2rem;
}

.gl__input-hint-link {
  display: block;
  color: var(--btn-color) !important;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: color 300ms;
  text-align: start;
  grid-column: 2 / 3;

  &:hover {
    text-decoration: underline;
  }
}

.gl__input-password-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.2rem;

  &.mod-show-password {
    .gl__input-password-btn-image {
      &.type-show {
        display: block;
      }

      &.type-hide {
        display: none;
      }
    }
  }
}

.gl__input-password-btn-image {
  height: 2.4rem;

  &.type-show {
    display: none;
  }

  &.type-hide {
    display: block;
  }
}

.gl__input-icon {
  position: absolute;
  height: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
}
