.gl__select-container {
  display: inline-block;
  position: relative;

  &.parsley-error {
    .choices__inner {
      @extend %input-error;
    }
  }

  &.mod-filter-select {
    margin-left: 1rem;
    margin-bottom: 1rem;

    .choices__item {
      color: #000;
    }

    .choices__inner {
      padding: 1.3rem 3rem 1.5rem 2.2rem !important;
      min-width: 22rem;
    }
  }

  &:not(.mod-filter-select) {
    &.choices__item--selectable {
      color: var(--main-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
}

.gl__select-wrapper {
  text-align: left;
  width: 100%;

  .choices {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .choices__inner {
    background: var(--pale-secondary-color) !important;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    border: 2px solid transparent !important;
    padding: 1.5rem 3rem 1.5rem 2.2rem !important;
    min-height: auto;

    @include for-bg-down {
      padding: .9rem 2rem !important;
    }
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    padding: 0 1rem 0 0;
  }

  .choices[data-type*='select-one'].is-open::after {
    border-top: none;
    border-bottom: 4px solid #000;
    top: 43%;
  }

  .choices[data-type*='select-one']:after {
    margin: 0;
    right: 2.2rem;
    top: 45%;
    border: 4px solid transparent;
    border-top: 4px solid #000;
  }

  .is-selected {
    display: none !important;
  }

  .choices__list--dropdown {
    word-break: initial;
    border: none;
    background: var(--pale-secondary-color);
    box-shadow: 0 0 1rem rgba(#0a2742, 0.1);
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    display: block !important;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    border-radius: 16px !important;

    &.is-active {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility 0.3s;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: var(--muted-color);
    color: white;
  }

  .choices__list {
    z-index: 12;

    &.choices__list--dropdown {
      z-index: 100;
    }
  }

  .choices__list--dropdown .choices__list {
    max-height: 30rem;
    margin-right: -20px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      background-color: white;
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .choices__item {
    &.choices__item--selectable {
      color: var(--main-color);
    }

    &.choices__item--choice {
      color: var(--main-color);
    }
  }
}
