{{#extend "layout"}}
  {{#content "main"}}

    <section class="account gl__page-content" id="account-host">
      <div class="account__header">
        <div class="account__menu-container">
          <label class="account__menu-radio-wrapper">
            <input type="radio" name="account-menu" class="account__menu-radio" checked>
            <span class="account__menu-radio-content">Профиль</span>
          </label>
          <label class="account__menu-radio-wrapper">
            <input type="radio" name="account-menu" class="account__menu-radio">
            <span class="account__menu-radio-content">Календарь бронирования</span>
          </label>
          <label class="account__menu-radio-wrapper">
            <input type="radio" name="account-menu" class="account__menu-radio">
            <span class="account__menu-radio-content">Медиа</span>
          </label>
        </div>

        <button type="button" class="account__exit-btn">
          <svg width="24" height="24" aria-hidden="true" class="account__exit-btn-icon">
            <use xlink:href="#exit"></use>
          </svg>
          Выйти
        </button>
      </div>

      <div class="account__body">
        <form class="account__form-container">
          <h2 class="gl__subtitle">
            Данные профиля
          </h2>

          <div class="account__form-radio-container">
            <div class="account__form-radio-input-title">
              Формат участия
            </div>
            <div class="account__form-radio-wrapper">
              {{> controls/input-radio-checkbox name="participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Офлайн" }}
              {{> controls/input-radio-checkbox name="participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Онлайн" }}
            </div>
          </div>

          <ul class="account__form-inputs-list">
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">ФИО</div>
              {{> controls/input-main
                required=true
                inputType="text"
                name="name"
                type="account"
                placeholder="Иванов Анатолий Иванович"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Вуз</div>
              {{> controls/input-main
                inputType="text"
                name="university"
                type="account"
                placeholder="Моя alma mater"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Дата рождения</div>
              {{> controls/input-data
                required=true
                name="birth"
                type="account"
                placeholder="дд.мм.гг"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Организация</div>
              {{> controls/input-main
                required=true
                inputType="text"
                name="organization"
                type="account"
                placeholder="Какую организацию Вы представляете?"
              }}
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">Пол</div>
              {{> controls/select
                required=true
                selectTitle="Пол"
                name="gender"
                type="account"
                option1="Женсий" option2="Мужской" option3="Другое"
              }}
            </li>
            <li class="account__type-organization">
              <div class="account__form-radio-input-title">
                Тип организации
              </div>
              <div class="account__form-radio-wrapper">
                {{> controls/input-radio-checkbox name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Бизнес" }}
                {{> controls/input-radio-checkbox name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Образование" }}
                {{> controls/input-radio-checkbox name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Гос. сектор" }}
              </div>
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">Должность</div>
              {{> controls/select
                required=true
                selectTitle="Должность"
                name="post"
                type="account"
                option1="Должность 1" option2="Должность 2" option3="Должность 3" option4="Должность 4" option5="Должность 5"
              }}
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">Телефон</div>
              {{> controls/input-main
                required=true
                inputType="tel"
                name="phone"
                type="account"
                placeholder="+7(888)888-88-88"
                isPhone="true"
              }}
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">Направление</div>
              {{> controls/select
                required=true
                selectTitle="Которое интересно посетить на форуме"
                name="direction"
                type="account"
                option1="Направление 1" option2="Направление 2" option3="Направление 3" option4="Направление 4" option5="Направление 5"
              }}
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">E-mail</div>
              {{> controls/input-main
                required=true
                inputType="email"
                name="email"
                type="account"
                placeholder="info@gmail.com"
                parsleyType="email"
              }}
            </li>
            <li class="gl__input-container">
              <div class="gl__input-title">ПЦР-тест</div>
              {{> controls/input-file
                required=true
                inputType="file"
                name="pcr-test"
                type="account"
                placeholder="info@gmail.com"
                parsleyType="email"
              }}
            </li>

            <li class="gl__input-container">
              <div class="gl__input-title">Город</div>
              {{> controls/select
                required=true
                selectTitle="Выберите"
                name="city"
                type="account"
                option1="Город 1" option2="Город 2" option3="Город 3" option4="Город 4" option5="Город 5"
              }}
            </li>
          </ul>

          <ul class="account__form-inputs-list">
            <li class="gl__input-container">
              <div class="gl__input-title">Наличие промокода</div>
              {{> controls/input-main
                required=true
                inputType="text"
                name="promo"
                type="account"
                placeholder="Введите промокод"
              }}
            </li>
            <li class="account__submit-block-wrapper">
              <div class="account__submit-block-hint">
                <div class="account__submit-block-hint-mark gl__input-mark-required"></div>
                <div class="account__submit-block-hint-caption">— Обязательные поля</div>
              </div>

              <button type="submit" class="gl__main-btn mod-no-shadow mod-small account__btn">Сохранить</button>
            </li>
          </ul>
        </form>

        <form class="account__form-container">
          <div class="account__form-head">
            <h2 class="gl__subtitle">
              Трансфер и проживание
            </h2>
            <div class="account__form-btn-download-wrapper">
              <button type="button" class="account__form-btn gl__main-btn mod-no-shadow mod-small mod-long">
                <span>Скачать PDF</span>
                <img src="img/form/download-bottom.svg" alt="" class="account__form-btn-icon">
              </button>
              <div class="account__form-btn-download-hint">
                Рекомендации по гостиницам и трансферу
              </div>
            </div>
          </div>

          <div class="account__form-radio-container">
            <div class="account__form-radio-input-title">
              Дни участия в форуме
            </div>
            <div class="account__form-radio-wrapper">
              {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="2 декабря" }}
              {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="3 декабря" }}
              {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="4 декабря" }}
            </div>
          </div>

          <ul class="account__form-inputs-list">
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Дата приезда</div>
              {{> controls/input-data
                name="arrival-date"
                type="account"
                placeholder="дд.мм.гг"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Дата отъезда</div>
              {{> controls/input-data
                name="departure-date"
                type="account"
                placeholder="дд.мм.гг"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Время приезда</div>
              {{> controls/forked-select
                firstSelectTitle="08"
                secondSelectTitle="00"
                firstName="arrival-time-hour"
                secondName="arrival-time-minutes"
                type="account"
                firstOption1="08" firstOption2="09" firstOption3="10" firstOption4="11" firstOption5="12" firstOption6="13" firstOption7="14" firstOption8="15" firstOption9="16" firstOption10="17" firstOption11="18"
                secondOption1="00" secondOption2="10" secondOption3="20" secondOption4="30" secondOption5="40" secondOption6="50"
              }}
            </li>
            <li class="gl__input-container mod-no-margin">
              <div class="gl__input-title">Время отъезда</div>
              {{> controls/forked-select
                firstSelectTitle="08"
                secondSelectTitle="00"
                firstName="arrival-time-hour"
                secondName="arrival-time-minutes"
                type="account"
                firstOption1="08" firstOption2="09" firstOption3="10" firstOption4="11" firstOption5="12" firstOption6="13" firstOption7="14" firstOption8="15" firstOption9="16" firstOption10="17" firstOption11="18"
                secondOption1="00" secondOption2="10" secondOption3="20" secondOption4="30" secondOption5="40" secondOption6="50"
              }}
            </li>
          </ul>
        </form>
      </div>
    </section>

  {{/content}}
{{/extend}}
