{{#extend "layout"}}
  {{#content "main"}}

    <section class="account gl__page-content" id="account-host">
      {{> account/account-menu }}

      <div class="account__component mod-profile">
        {{> account/profile }}
      </div>

      <div class="account__component mod-calendar">
        {{> account/calendar }}
      </div>

      <div class="account__component mod-media">
        {{> account/media }}
      </div>

    </section>

  {{/content}}
{{/extend}}
