{{#extend "layout"}}
  {{#content "main"}}

    <div class="calendar" id="calendar-host">
      <ul class="gl__bread-crumbs-list calendar__page-content">
        <li class="gl__bread-crumbs-item">
          <a href="/" class="gl__bread-crumbs-item-link">
            Главная
          </a>
        </li>
        <li class="gl__bread-crumbs-item">
          <span class="gl__bread-crumbs-item-link mod-current-page">
            Календарь мероприятия
          </span>
        </li>
      </ul>

      <h1 class="gl__subtitle calendar__page-content">
        Календарь мероприятий
      </h1>

      <div class="calendar__header-wrapper calendar__page-content">
        <div class="calendar__selects-wrapper">
          {{> controls/select
            selectTitle="Все даты"
            selectName="commonDates"
            option1="option 1" option2="option 2" option3="option 3" option4="option 4" option5="option 5"
            option6="option 6" option7="option 7" option8="option 8" option9="option 9" option10="option 10"
            option11="option 12" option13="option 13" option14="option 14" option15="option 15" option16="option 16"
          }}
          {{> controls/select
            selectTitle="Тема"
            selectName="topics"
            option1="Вузы" option2="Бизнес" option3="Культурная программа" option4="Стартапы" option5="Органы гос.власти"
          }}
          {{> controls/select
            selectTitle="Аудитория"
            selectName="auditoriums"
            option1="большой зал" option2="аудитория 104" option3="аудитория 105" option4="аудитория 106" option5="аудитория 107"
            option6="аудитория 108" option7="аудитория 109" option8="аудитория 110" option9="аудитория 111" option10="аудитория 112"
          }}
          {{> controls/select
            selectTitle="Спикер"
            selectName="speakers"
            option1="Александр Горник" option2="Андрей Бедняков" option3="Марина Кравец"
          }}
        </div>

        <div class="calendar__btn">
          <a href="" download="" type="button"
             class="calendar__btn-download gl__main-btn mod-black mod-no-shadow">
            Скачать программу в PDF
            <svg width="24" height="24" aria-hidden="true" class="gl__btn-download-icon">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="calendar__content">
        <table class="calendar__table">
          <thead class="calendar__table-head">
          <tr class="calendar__row-wrapper mod-head">
            <td class="calendar__item-header mod-date">16 сен.</td>
            {{> cln-table/header-item caption="a" value="большой зал"}}
            {{> cln-table/header-item caption="b" value="аудитория 104"}}
            {{> cln-table/header-item caption="c" value="аудитория 105"}}
            {{> cln-table/header-item caption="d" value="аудитория 106"}}
            {{> cln-table/header-item caption="e" value="аудитория 107"}}
            {{> cln-table/header-item caption="f" value="аудитория 108"}}
            {{> cln-table/header-item caption="g" value="аудитория 109"}}
            {{> cln-table/header-item caption="h" value="аудитория 110"}}
            {{> cln-table/header-item caption="i" value="аудитория 111"}}
            {{> cln-table/header-item caption="j" value="аудитория 112"}}
          </tr>
          </thead>

          <tbody>

          <tr class="calendar__row-wrapper mod-full">
            <th class="calendar__btn-show-all-wrapper">
              <button type="button" class="calendar__btn-show-all mod-show">
                <span class="calendar__btn-show-all-triangle"></span>
                <span class="calendar__btn-show-all-content">Вся программа</span>
              </button>
            </th>
          </tr>
          <tr class="calendar__row-wrapper mod-full" data-time="2021/09/16/9/00">
            <th class="calendar__item-content">9:00</th>
            {{> cln-table/content-item
              cardTime="9:00"
              cardText="C 9:00 регистрация"
              fullRow=true
            }}
          </tr>
          <tr class="calendar__row-wrapper mod-full" data-time="2021/09/16/10/00">
            <th class="calendar__item-content">10:00</th>
            {{> cln-table/content-item
              cardTime="10:00 - 11:00"
              cardText="Церемония открытия конференции в фойе Университета"
              fullRow=true
            }}
          </tr>
          <tr class="calendar__row-wrapper" data-time="2021/09/16/11/00">
            <th class="calendar__item-content">11:00</th>
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="Стартапы"
              typeMark=4
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="Культурная программа"
              typeMark=2
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="Органы гос.власти"
              typeMark=5
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="Стартапы"
              typeMark=4
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="Стартапы"
              typeMark=4
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="11:00 - 11:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
          </tr>
          <tr class="calendar__row-wrapper" data-time="2021/09/16/16/00">
            <th class="calendar__item-content">16:00</th>
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="Культурная программа"
              typeMark=3
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="Культурная программа"
              typeMark=3
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            <th class="calendar__item-content"></th>
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="Органы гос.власти"
              typeMark=5
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="16:00 - 16:50"
              cardMark="вузы"
              typeMark=1
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
          </tr>
          <tr class="calendar__row-wrapper" data-time="2021/09/16/17/00">
            <th class="calendar__item-content">17:00</th>
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            <th class="calendar__item-content"></th>
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="Культурная программа"
              typeMark=3
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="Стартапы"
              typeMark=4
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="17:00 - 17:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
          </tr>
          <tr class="calendar__row-wrapper" data-time="2021/09/16/18/00">
            <th class="calendar__item-content">18:00</th>
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Александр Горник"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Андрей Бедняков"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
            {{> cln-table/content-item
              cardTime="18:00 - 18:50"
              cardMark="бизнес"
              typeMark=2
              cardTitle="Марина Кравец"
              cardSubtitle="директор по развитию новых каналов дистрибуции Rambler&Co"
              cardText="Agile разработка в agile бизнесе: от LESS и канбан до открытых зарплат и ответственности"
            }}
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  {{/content}}
{{/extend}}
