{{#extend "layout"}}
  {{#content "main"}}

    <section class="auth-page" id="сhange-password-host">
      <div class="gl__page-content">
        <div class="auth-page__content-wrapper">
          <div class="auth-page__content mod-show js-auth-content">
            <form data-need-validation data-parsley-validate data-parsley-focus="none" class="gl__form">
              <div class="auth-page__title">
                Смена пароля
              </div>

              <div class="auth-page__notification account__form-save-wrapper">
                <img src="img/common/save.svg" alt="" class="account__form-save-image">
                Пароль успешно сохранен. На ваш e-mail высланы новые регистрационные данные
              </div>

              <ul class="modal__inputs-list">
                <li class="gl__input-container">
                  <div class="gl__input-title">Логин</div>
                  {{> controls/input-main
                    required=true
                    inputType="email"
                    name="login"
                    type=type
                    placeholder="info@gmail.com"
                  }}
                </li>
                <li class="gl__input-container">
                  <div class="gl__input-title">Контрольная строка</div>
                  {{> controls/input-main
                    required=true
                    inputType="text"
                    name="control-line"
                    type=type
                    placeholder="Контрольная строка"
                  }}
                </li>
                <li class="gl__input-container">
                  <div class="gl__input-title">Пароль</div>
                  {{> controls/input-main
                    required=true
                    inputType="password"
                    name="password"
                    type=type
                    placeholder="Введите пароль"
                    id="password-registr"
                    isPassword=true
                  }}
                </li>
                <li class="gl__input-container">
                  <div class="gl__input-title">Повторите пароль</div>
                  {{> controls/input-main
                    required=true
                    inputType="password"
                    name="password-dupl"
                    type=type
                    placeholder="Введите пароль"
                    id="password"
                    isPassword=true
                    parsleyEqualto="#password-registr"
                  }}
                </li>
              </ul>

              <div class="gl__input-container auth-page__hint-container">
                <div></div>
                <div class="auth-page__hint-wrapper">
                  <div class="profile__submit-block-hint-mark gl__input-mark-required"></div>
                  <div class="profile__submit-block-hint-caption">— Обязательные поля</div>
                </div>
              </div>

              <div class="gl__error-block js-error-block">
                <img src="img/old/img/error-form.svg" alt="" class="gl__error-icon">
                <div class="gl__error-content">
                  Ошибка
                </div>
              </div>

              <button type="submit"
                      class="gl__btn-submit js-btn-submit modal__btn-submit gl__main-btn mod-long mod-no-shadow mod-small">
                Изменить пароль
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}
