{{#extend "layout"}}
  {{#content "main"}}

    <div class="contacts" id="contacts-host">
      <div class="gl__page-content">
        <ul class="gl__bread-crumbs-list">
          <li class="gl__bread-crumbs-item">
            <a href="/" class="gl__bread-crumbs-item-link">
              Главная
              <img src="img/news/array.svg" alt="" class="gl__bread-crumbs-item-link-icon">
            </a>
          </li>
          <li class="gl__bread-crumbs-item">
          <span class="gl__bread-crumbs-item-link mod-current-page">
            Календарь мероприятия
          </span>
          </li>
        </ul>

        <h1 class="gl__big-title">
          Контакты
        </h1>

        <div class="contacts__content-wrapper">
          <div class="contacts__row-wrapper">
            <div class="contacts__row-items mod-full-row">
              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  место проведения
                </div>

                <div class="contacts__grid-item-value">
                  Университетская улица 1, Иннополис, Республика Татарстан, Россия, 420500
                </div>
              </div>
            </div>
          </div>

          <div class="contacts__row-wrapper">
            <div class="contacts__row-items">
              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Общая почта для связи
                </div>

                <a href="mailto:did@innopolis.ru" class="contacts__grid-item-value">
                  did@innopolis.ru
                </a>
              </div>

              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Контактный номер
                </div>

                <a href="tel:+78005501766" class="contacts__grid-item-value">
                  8 (800) 550-17-66
                </a>
              </div>
            </div>
          </div>

          <div class="contacts__row-wrapper">
            <div class="contacts__row-caption-wrapper">
              <div class="contacts__row-caption">
                Забронировать гостиницу
              </div>
              <div class="contacts__row-caption-line"></div>
            </div>

            <div class="contacts__row-items">
              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Трансфер и проживание на форуме DID
                </div>

                <a href="mailto:travel_did@innopolis.ru" class="contacts__grid-item-value">
                  travel_did@innopolis.ru
                </a>
              </div>

              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Елена Бусыгина
                </div>

                <a href="tel:+79867139315" class="contacts__grid-item-value">
                  +7 (986) 713 93-15
                </a>
              </div>
            </div>
          </div>

          <div class="contacts__row-wrapper">
            <div class="contacts__row-caption-wrapper">
              <div class="contacts__row-caption">
                Забронировать авиабилеты
              </div>
              <div class="contacts__row-caption-line"></div>
            </div>

            <div class="contacts__row-items">
              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Трансфер и проживание на форуме DID
                </div>

                <a href="mailto:travel_did@innopolis.ru" class="contacts__grid-item-value">
                  travel_did@innopolis.ru
                </a>
              </div>

              <div class="contacts__item">
                <div class="contacts__grid-item-caption">
                  Эльвира Егорова
                </div>

                <a href="tel:+79872694419" class="contacts__grid-item-value">
                  +7 (987) 269 44-19
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{> map }}
    </div>

  {{/content}}
{{/extend}}
