{{#extend "layout"}}
  {{#content "main"}}

    <div class="app__content">

      <main class="app__main">

        <div class="desctop-navigation">
          <div class="desctop-navigation__navigation">
            <ul>

              <li>
                <a href="#block2" class="navigation-link">Основные треки</a>
              </li>

              <li>
                <a href="#block4" class="navigation-link">О форуме</a>
              </li>

              <li>
                <a href="#block6" class="navigation-link">Билеты</a>
              </li>

              <li>
                <a href="#block7" class="navigation-link">Партнёры</a>
              </li>

              <li>
                <a href="#block8" class="navigation-link">Контакты</a>
              </li>

            </ul>
          </div>
        </div><!-- desctop-navigation -->

        <div class="hero-block">
          <div class="hero-block__inner gl__page-content">
            <div class="hero-block__head">
              <div class="hero-block__image">
                <img src="img/old/img/hero-image.svg" alt="" class="hero-block__image-img">
              </div>
              <div class="hero-block__description">Форум о цифровой трансофрмации в образовании, бизнесе и госуправлении
              </div>
            </div>
            <div class="hero-block__body">
              <a href="#" class="hero-block__btn gl__main-btn mod-large open-modal-participation">Участвовать</a>
              <div class="hero-block__information">
                <div class="hero-block__information-item">
                  <span>когда</span>
                  2—4 декабря
                </div>
                <div class="hero-block__information-item">
                  <span>где</span>
                  Иннополис
                </div>
              </div>
            </div>
          </div>
        </div><!-- hero-block -->

        <div class="news" id="news-block-host">
          <div class="gl__page-content">
            <div class="swiper news__swiper">
              <div class="news__cards-wrapper swiper-wrapper">
                <a href="#" class="news__card swiper-slide">
                  <div class="news__card-date">
                    12 июля
                  </div>
                  <div class="news__card-content">
                    1 Фонд Росконгресс вошел в состав Организационного комитета международной премии
                    <span class="news__card-mark">#МыВместе</span>
                  </div>
                </a>

                <a href="#" class="news__card swiper-slide">
                  <div class="news__card-date">
                    12 июля
                  </div>
                  <div class="news__card-content">
                    2 Фонд Росконгресс вошел в состав Организационного комитета международной премии
                    <span class="news__card-mark">#МыВместе</span>
                  </div>
                </a>

                <a href="#" class="news__card swiper-slide">
                  <div class="news__card-date">
                    14 июля
                  </div>
                  <div class="news__card-content">
                    Короткая новость
                  </div>
                </a>

                <a href="#" class="news__card swiper-slide">
                  <div class="news__card-date">
                    15 июля
                  </div>
                  <div class="news__card-content">
                    Очень длинная новость Очень длинная новость Очень sfsdfsdf длинная новость Очень длинная новость Очень
                    длинная
                    новость sdfsdfsdf Очень длинная новость sdssdfsdf длинная новость Очень длинная новость Очень длинная
                  </div>
                </a>

                <a href="#" class="news__card swiper-slide">
                  <div class="news__card-date">
                    12 июля
                  </div>
                  <div class="news__card-content">
                    4 Фонд Росконгресс вошел в состав Организационного комитета международной премии
                    <span class="news__card-mark">#МыВместе</span>
                  </div>
                </a>
              </div>

              <div class="news__navigate-panel">
                <a href="#" type="button" class="gl__main-btn">Все новости</a>

                <div class="news__navigate-navigate-btns-wrapper">
                  <button class="news__navigate-navigate-btn-wrapper mod-prev" disabled>
                    <svg width="56" height="16" aria-hidden="true" class="news__navigate-navigate-btn">
                      <use xlink:href="#arrow-left"></use>
                    </svg>
                  </button>
                  <button class="news__navigate-navigate-btn-wrapper mod-next">
                    <svg width="56" height="16" aria-hidden="true" class="news__navigate-navigate-btn">
                      <use xlink:href="#arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="faq-block-host" class="faq-block">
          <div class="faq-block__inner gl__page-content">
            <h2 class="gl__title mod-white">Основные треки</h2>
            <div class="faq-block__list">
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Цифровые технологии в приоритетных отраслях экономики и социальной
                  сферы
                </div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Скорость изменения рынка и влияние на ключевых игроков</li>
                    <li>Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными организациями
                    </li>
                    <li>Особенности подготовки квалифицированных кадров для индустрии</li>
                  </ul>
                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Экспортный потенциал российских цифровых технологий</div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Деловой климат, конкуренция и сдерживающие факторы</li>
                    <li>Экспортный потенциал технологий и отток российских ИТ-специалистов</li>
                    <li>Законодательные и регуляторные нововведения</li>
                    <li>Кейсы по разработке и внедрению стратегий цифровой трансформации в компаниях с госучастием</li>
                  </ul>

                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Цифровая трансформация регионов</div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Цифровизации регионов и развитие цифровой экономики</li>
                    <li>Международная и российская практика социально-экономического развития регионов</li>
                  </ul>
                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Кадры для индустрии</div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Международная и российская практика социально-экономического развития регионов</li>
                    <li>Современные вузы как центры дополнительного профессионального образования и экспертные хабы для
                      бизнеса
                    </li>
                  </ul>

                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Цифровой суверенитет и кибербезопасность (практика)</div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Отработка навыков защиты от компьютерных атак и правила реагирования на инциденты</li>
                    <li>Симуляция распространенных сценариев кибератак и их расследования</li>
                    <li>Практика оценки рисков и пошаговые инструкции для защиты организации</li>
                  </ul>
                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Цифровая трансформация вузов</div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Новое видение высшей школы в условиях глобальной цифровизации</li>
                    <li>Мировые тренды и инновационные подходы в обучении поколения Z</li>
                    <li>Оптимальные модели цифровой трансформации вузов</li>
                    <li>Обмен опытом: лучшие практики, методическая поддержка, нормативно-правовые барьеры</li>
                  </ul>
                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Развитие Опорного образовательного и Единого учебно-методологического
                  центров
                </div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Результаты работы ООЦ и ЕМЦ Университета Иннополис за 2021 год</li>
                    <li>Исследование готовности высшего и среднего профессионального образования к цифровой
                      трансформации
                      и аналитика успешных кейсов
                    </li>
                    <li>Награждение лучших образовательных организации и преподавателей</li>
                  </ul>
                </div>
              </div>
              <div class="faq-block__item">
                <span class="faq-block__item-icon"></span>
                <div class="faq-block__item-title">Startup House: трехдневный интенсив для технологических стартапов из
                  вузов партнёрской сети ООЦ
                </div>
                <div class="faq-block__item-body">
                  <ul>
                    <li>Выстраивание эффективной коммуникации с представителями ИТ-индустрии</li>
                    <li>Маркетинг и первые продажи</li>
                    <li>Правила питчинга: воркшопы по ораторскому мастерству и сторителлингу</li>
                    <li>Питч-сессия стартапов перед инвесторами</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div><!-- faq-block -->

        <div class="program" id="program-host">
          <div class="program__top-block-wrapper">
            <div class="gl__page-content">
              <form id="program-form">
                <div class="program__head">
                  <h2 class="program__title mod-white gl__title">Программа</h2>

                  <div class="program__navigate-wrapper">
                    <label class="program__navigate-radio-wrapper">
                      <input type="radio" class="program__navigate-radio" name="program-date" checked>
                      <span class="program__navigate-radio-content">
                      2 декабря
                    </span>
                    </label>
                    <label class="program__navigate-radio-wrapper">
                      <input type="radio" class="program__navigate-radio" name="program-date">
                      <span class="program__navigate-radio-content">
                      3 декабря
                    </span>
                    </label>
                    <label class="program__navigate-radio-wrapper">
                      <input type="radio" class="program__navigate-radio" name="program-date">
                      <span class="program__navigate-radio-content">
                      4 декабря
                    </span>
                    </label>
                  </div>
                </div>

                <div class="program__filters-wrapper-caption">фильтры</div>

                <div class="program__filters-wrapper">
                  <label class="program__filter-checkbox-wrapper">
                    <input type="checkbox" class="program__filter-checkbox" value="type-business" name="program-filter">
                    <span class="program__filter-checkbox-content">Бизнес</span>
                  </label>
                  <label class="program__filter-checkbox-wrapper">
                    <input type="checkbox" class="program__filter-checkbox" value="type-government"
                           name="program-filter">
                    <span class="program__filter-checkbox-content">Органы гос. власти</span>
                  </label>
                  <label class="program__filter-checkbox-wrapper">
                    <input type="checkbox" class="program__filter-checkbox" value="type-universities"
                           name="program-filter">
                    <span class="program__filter-checkbox-content">Вузы</span>
                  </label>
                  <label class="program__filter-checkbox-wrapper">
                    <input type="checkbox" class="program__filter-checkbox" value="type-cultural" name="program-filter">
                    <span class="program__filter-checkbox-content">Культурная программа</span>
                  </label>
                  <label class="program__filter-checkbox-wrapper">
                    <input type="checkbox" class="program__filter-checkbox" value="startups" name="program-filter">
                    <span class="program__filter-checkbox-content">Стартапы</span>
                  </label>
                </div>
              </form>
            </div>
          </div>

          <div class="program__bottom-block-container">
            <div class="gl__page-content program__gl__page-content-none">
              <div class="program__bottom-blocks">
                <div class="program__bottom-block-wrapper">
                  <ul class="program__content-wrapper">
                    (2 декабря)
                    <li class="program__content-item program__padding-content type-business">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Бизнес
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-government">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Российские цифровые технологии: экспортный потенциал российской цифровой
                          индустрии
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Органы гос. власти
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-universities">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Вузы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content startups">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Стартапы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="program__bottom-block-wrapper">
                  <ul class="program__content-wrapper">
                    (3 декабря)
                    <li class="program__content-item program__padding-content type-business">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Бизнес
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-government">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Российские цифровые технологии: экспортный потенциал российской цифровой
                          индустрии
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Органы гос. власти
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-universities">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Вузы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content startups">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Стартапы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="program__bottom-block-wrapper">
                  <ul class="program__content-wrapper">
                    (4 декабря)
                    <li class="program__content-item program__padding-content type-business">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Бизнес
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-government">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Российские цифровые технологии: экспортный потенциал российской цифровой
                          индустрии
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Органы гос. власти
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-universities">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Вузы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content startups">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Стартапы
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="program__content-item program__padding-content type-cultural">
                      <div class="program__content-item-time-wrapper">
                        <div class="program__content-item-time">
                          12:00
                        </div>
                      </div>
                      <div class="program__content-info">
                        <div class="program__content-info-tile">
                          Цифровые технологии в приоритетных отраслях экономики и социальной сферы
                        </div>
                        <ul class="program__content-info-list">
                          <li class="program__content-info-item">
                            Скорость изменения рынка и влияние на ключевых игроков.
                          </li>
                          <li class="program__content-info-item">
                            Выстраивание эффективного сотрудничества между бизнесом, наукой и образовательными
                            организациями.
                          </li>
                          <li class="program__content-info-item">
                            Особенности подготовки квалифицированных кадров для индустрии.
                          </li>
                        </ul>

                        <button type="button" class="program__content-info-btn-show">
                          Подробнее
                        </button>

                        <div class="program__content-info-marks-wrapper">
                          <div class="program__content-info-geo">Блок D</div>
                          <div class="program__content-info-mark">
                            Культурная программа
                          </div>
                        </div>
                      </div>

                      <div class="program__content-author-wrapper">
                        <div class="program__content-author-image-wrapper">
                          <img src="img/old/img/program-content-author-image.jpg" alt="Поморова Екатерина"
                               class="program__content-author-image">
                        </div>
                        <div class="program__content-author-name-wrapper">
                          <div class="program__content-author-caption">
                            Поморова Екатерина
                          </div>
                          <div class="program__content-author-value">
                            Директор по развитию новых каналов дистрибуции Rambler&Co
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="program__btns-wrapper program__padding-content">
                  <a href="#" type="button" class="gl__main-btn mod-middle mod-no-shadow">Календарь программы</a>
                  <a href="#" download="" type="button"
                     class="program__btn-download gl__main-btn mod-black mod-no-shadow">
                    Скачать программу в PDF
                    <svg width="24" height="24" aria-hidden="true" class="program__btn-download-icon">
                      <use xlink:href="#download"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="block4" class="about-block">
          <div class="about-block__inner gl__page-content">
            <h2 class="gl__title">О форуме</h2>
            <div class="about-block__description">Digital Innopolis Days объединяет главных драйверов цифровой
              трансформации страны: отраслевые компании и корпорации, ИТ-компании, профильные и педагогические вузы и
              органы государственной власти всех уровней.
            </div>
            <div class="about-block__image">
              <img src="img/old/img/image1.jpg" alt="">
            </div>
            <p>На площадках форума ведущие российские и международные спикеры поделятся опытом и индустриальными
              практиками. Участники DID познакомятся с новыми образовательными форматами и продуктами инновационного
              мышления.</p>
            <p>Организатор форума <a href="#">Университет Иннополис</a> — российский вуз, специализирующийся на
              образовании, разработках и исследованиях в области информационных технологий и робототехники. В 2020 году
              на
              базе Университета Иннополис создана единая <a href="#">площадка</a> для повышения квалификации
              преподавателей высшего и среднего профессионального образования России — Опорный образовательный и Единый
              методологический центр по направлениям цифровой экономики. </p>
          </div>
        </div><!-- about-block -->

        <div class="speakers" id="speakers-host">
          <div class="gl__page-content">
            <h2 class="gl__title">Спикеры</h2>

            <ul class="speakers__list gl__page-content">
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item-empty-plug">
                <div class="speakers__item-empty-content-wrapper">
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                  <div class="speakers__item-empty-content-item"></div>
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item-empty"></li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-none.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анатолий Спиридонов
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-4.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
<!--              нераскрытые спикеры-->
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-none.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анатолий Спиридонов
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-4.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-none.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анатолий Спиридонов
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-1">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-1.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-2.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Анастасия Сидорова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-3">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-4.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Екатерина Поморова
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
              <li class="speakers__item">
                <div class="speakers__item-image-wrapper type-2">
                  <div class="speakers__message-container">
                    <div class="speakers__message-content">
                      Я сумела окружить себя чудесными людьми, я дал им свободу. Я хвалю этих людей, я не критикую их.
                      Команда людей, это самое важное. Без команды вы не добьетесь успеха.
                    </div>
                    <button class="speakers__message-btn"></button>
                  </div>
                  <img src="img/old/img/speakers-image-3.jpg" alt="" class="speakers__item-image">
                </div>
                <div class="speakers__item-caption">
                  Алексей Садовый
                </div>
                <div class="speakers__item-value">
                  директор по развитию новых каналов дистрибуции Rambler&Co
                </div>
              </li>
            </ul>

            <div class="speakers__btn-show-more-wrapper">
              <button class="speakers__btn-show-more gl__main-btn mod-middle-2 mod-no-shadow" type="button">
                Показать еще 20
              </button>
            </div>
          </div>
        </div>

        <div id="block6" class="tickets-block">
          <div class="tickets-block__inner gl__page-content">
            <h2 class="tickets-block__title gl__title mod-white">Билеты</h2>
            <div class="tickets-block__list">
              <div class="tickets-block__item">
                <div class="tickets-thumbs">
                  <div class="tickets-thumbs__top">
                    <div class="tickets-thumbs__term">3 дня</div>
                    <div class="tickets-thumbs__date">2 декабря</div>
                    <div class="tickets-thumbs__price">10 000 ₽</div>
                  </div>
                  <div class="tickets-thumbs__timer">
                    <div class="tickets-thumbs__timer-title">до окрытия продаж осталось</div><!-- e:timer-title -->
                    <div class="tickets-thumbs__timer-body site-countdown" data-end-time="2021/09/01">
							<span class="day">
								<span class="time-body"></span>
								<span class="time-name">дней</span>
							</span>
                      <span class="hourts">
								<span class="time-body"></span>
								<span class="time-name">часов</span>
							</span>
                      <span class="minutes">
								<span class="time-body"></span>
								<span class="time-name">минут</span>
							</span>
                    </div><!-- <= timer-body -->
                  </div><!-- <= timer -->
                </div><!-- tickets-thumbs -->
              </div>

            </div>
          </div>
        </div><!-- tickets-block -->

        <div id="block7" class="partners">
          <div class="partners__head gl__page-content">
            <h2 class="gl__title mod-white">Партнёры</h2>
            <button class="partners__btn-sign-up gl__main-btn mod-middle-2 mod-no-shadow open-modal-partner"
                    data-remodal-target="partners" type="button">
              Стать партнёром
            </button>
          </div>

          <ul class="partners__list">
            <li class="partners__item gl__page-content">
              <div class="partners__item-title">
                Генеральный партнёр
                <span class="partners__item-title-before"></span>
              </div>
              <ul class="partners__links">
                <li class="partners__link-container mod-center-item">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="210" height="48" aria-hidden="true" class="partners__link">
                      <use xlink:href="#innopolis"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="partners__item gl__page-content">
              <div class="partners__item-title">
                Индустриальные партнёры
                <span class="partners__item-title-before"></span>
              </div>
              <ul class="partners__links">
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="124" height="36" aria-hidden="true" class="partners__link">
                      <use xlink:href="#ferrari"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="78" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#kia"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="106" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#ford"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="98" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#jeep"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="132" height="18" aria-hidden="true" class="partners__link">
                      <use xlink:href="#tesla"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="partners__item gl__page-content">
              <div class="partners__item-title">
                Партнёры экспо
                <span class="partners__item-title-before"></span>
              </div>
              <ul class="partners__links">
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="124" height="36" aria-hidden="true" class="partners__link">
                      <use xlink:href="#ferrari"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="78" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#kia"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="106" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#ford"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="98" height="40" aria-hidden="true" class="partners__link">
                      <use xlink:href="#jeep"></use>
                    </svg>
                  </a>
                </li>
                <li class="partners__link-container">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="132" height="18" aria-hidden="true" class="partners__link">
                      <use xlink:href="#tesla"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="partners__item gl__page-content">
              <div class="partners__item-title">
                Генеральный информационный партнёр
                <span class="partners__item-title-before"></span>
              </div>
              <ul class="partners__links">
                <li class="partners__link-container mod-center-item">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="210" height="48" aria-hidden="true" class="partners__link">
                      <use xlink:href="#innopolis"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="partners__item gl__page-content">
              <div class="partners__item-title">
                Информационный партнёр
                <span class="partners__item-title-before"></span>
              </div>
              <ul class="partners__links">
                <li class="partners__link-container mod-center-item">
                  <a href="#" class="partners__link-wrapper">
                    <svg width="210" height="48" aria-hidden="true" class="partners__link">
                      <use xlink:href="#innopolis"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- partners-block -->

        <div class="sign-up-block">
          <div class="sign-up-block__section">
            <div class="sign-up-block__inner">
              <div class="sign-up-block__content gl__page-content">
                <h2 class="sign-up-block__title gl__title">Стать участником</h2>
                <button class="gl__main-btn mod-big mod-no-shadow open-modal-participation"
                        data-remodal-target="sign_up"
                        type="button">Зарегистрироваться
                </button>
              </div>
            </div>
          </div>
        </div><!-- sign-up-block -->
        <div id="block8" class="contacts-block">
          <div class="contacts-block__section">
            <div class="contacts-block__inner gl__page-content">
              <h2 class="contacts-block__title gl__title mod-white">Контакты</h2>
              <div class="contacts-block__content">
                <div class="contacts-block__address">
                  <div class="contacts-block__name">место проведения</div>
                  <div class="contacts-block__info">
                    Университетская ул., 1, Иннополис, Россия
                  </div>
                </div>
                <div class="contacts-block__email">
                  <div class="contacts-block__name">электронная почта</div>
                  <a href="mailto:did@innopolis.ru" class="contacts-block__info">did@innopolis.ru</a>
                </div>

              </div>
              <form class="contacts-block__form-subscribe">
                <div class="contacts-block__name">подписаться на рассылку новостей</div>
                <div class="contacts-block__group">
                  <div class="contacts-block__input">
                    <input type="email" placeholder="Электронная почта">
                  </div>
                  <button class="contacts-block__btn-subscribe site-btn site-btn--1">Подписаться</button>
                </div>
              </form>
            </div>
          </div>
          <div class="map-block">
            <div class="map-block__map active" data-center="48.743261, 55.753681" data-zoom="17"
                 data-address="Университетская ул., 1, Иннополис, Россия"
                 data-dopadress="[{&quot;coordinates&quot;: &quot;55.753681,48.743261&quot;}]">
            </div>
          </div><!-- map-block -->
        </div><!-- contacts-block -->
      </main><!-- app__main -->
    </div><!-- app__content -->

  {{/content}}
{{/extend}}
