{{#extend "layout"}}
  {{#content "main"}}

    <section class="news-page gl__page-content" id="news-list-host">
      <ul class="news-page__bread-crumbs-list">
        <li class="news-page__bread-crumbs-item">
          <a href="" class="news-page__bread-crumbs-item-link">
            Главная
          </a>
        </li>
        <li class="news-page__bread-crumbs-item">
          <span class="news-page__bread-crumbs-item-link">
            Новости
          </span>
        </li>
        <li class="news-page__bread-crumbs-item">
          <span class="news-page__bread-crumbs-item-link mod-current-page">
            Более 25 000 заявок поступило на участие в Международной премии #МыВместе
          </span>
        </li>
      </ul>

      <h1 class="gl__subtitle">
        Более 25 000 заявок поступило на участие в Международной премии #МыВместе
      </h1>

      <img src="img/news/news-image-1.jpg" alt="" class="news-page__image">
    </section>
  {{/content}}
{{/extend}}
