{{#extend "layout"}}
  {{#content "main"}}

    <section class="news-page gl__page-content" id="news-page-host">
      <ul class="gl__bread-crumbs-list">
        <li class="gl__bread-crumbs-item">
          <a href="/" class="gl__bread-crumbs-item-link">
            Главная
            <img src="img/news/array.svg" alt="" class="gl__bread-crumbs-item-link-icon">
          </a>
        </li>
        <li class="gl__bread-crumbs-item">
          <a href="news-list.html" class="gl__bread-crumbs-item-link">
            Новости
            <img src="img/news/array.svg" alt="" class="gl__bread-crumbs-item-link-icon">
          </a>
        </li>
        <li class="gl__bread-crumbs-item">
          <span class="gl__bread-crumbs-item-link mod-current-page">
            Более 25 000 заявок поступило на участие в Международной премии #МыВместе
          </span>
        </li>
      </ul>

      <h1 class="gl__subtitle">
        Более 25 000 заявок поступило на участие в Международной премии #МыВместе
      </h1>

      <img src="img/news/news-image-1.jpg" alt="" class="news-page__image">

      <ul class="news-page__news-list mod-no-border">
        {{> news-item
          date="12 июля"
          title="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии"
        }}
      </ul>

      <div class="news-page__text-wrapper">
        <p class="gl__main-text">
          12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ.
          Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании. На Премию поступило
          свыше 25 000 заявок, больше всего – в треке «Волонтеры и НКО». Направления «Бизнес» и «Медиа» также активно
          развиваются, на которые подали заявки 5,5 тысяч человек. До сентября продолжается регистрация иностранных
          участников в премии, на данный момент поступили инициативы из 45 стран мира. Международная премия #МЫВМЕСТЕ
          стала продолжением одноименной акции взаимопомощи.
        </p>
        <p class="gl__main-text">
          С приветственным словом к участникам обратились сопредседатели Организационного комитета Международной премии
          #МЫВМЕСТЕ: Первый заместитель Руководителя Администрации Президента РФ Сергей Кириенко и заместитель
          Председателя Правительства РФ Татьяна Голикова.
        </p>
      </div>

      <div class="news-page__video-container">
        <div class="news-page__video-wrapper gl__mask-color">
          <video class="news-page__video" playsinline controls>
            <source src="https://cg96737.tmweb.ru/local/video/first_vid_new.mov" type="video/mp4"/>
          </video>
        </div>

        <div class="news-page__video-caption">
          Подпись к видео
        </div>
      </div>

      <div class="news-page__text-wrapper">
        <p class="gl__main-text">
          12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ.
          Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании. На Премию поступило
          свыше 25 000 заявок, больше всего – в треке «Волонтеры и НКО». Направления «Бизнес» и «Медиа» также активно
          развиваются, на которые подали заявки 5,5 тысяч человек. До сентября продолжается регистрация иностранных
          участников в премии, на данный момент поступили инициативы из 45 стран мира. Международная премия #МЫВМЕСТЕ
          стала продолжением одноименной акции взаимопомощи.
        </p>

        <p class="gl__main-text">
          С приветственным словом к участникам обратились сопредседатели Организационного комитета Международной премии
          #МЫВМЕСТЕ: Первый заместитель Руководителя Администрации Президента РФ Сергей Кириенко и заместитель
          Председателя Правительства РФ Татьяна Голикова.
        </p>
      </div>

      <div class="news-page__slider">
        <div class="news-page__slider-container swiper-container">
          <div class="news-page__slider-wrapper swiper-wrapper">
            <div class="news-page__slider-slide swiper-slide">
              <img src="img/news/news-image-2.jpg" alt="" class="news-page__slider-image">
            </div>
            <div class="news-page__slider-slide swiper-slide">
              <img src="img/news/news-image-1.jpg" alt="" class="news-page__slider-image">
            </div>
            <div class="news-page__slider-slide swiper-slide">
              <img src="img/news/news-image-2.jpg" alt="" class="news-page__slider-image">
            </div>
          </div>
        </div>

        <div class="news-page__slider-buttons-wrapper">
          <button class="news-page__slider-btn mod-prev">
            <svg width="56" height="16" aria-hidden="true" class="news-page__slider-btn-icon">
              <use xlink:href="#arrow-left"></use>
            </svg>
          </button>
          <button class="news-page__slider-btn mod-next">
            <svg width="56" height="16" aria-hidden="true" class="news-page__slider-btn-icon">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="news-page__text-wrapper">
        <p class="gl__main-text">
          12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ.
          Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании. На Премию поступило
          свыше 25 000 заявок, больше всего – в треке «Волонтеры и НКО». Направления «Бизнес» и «Медиа» также активно
          развиваются, на которые подали заявки 5,5 тысяч человек. До сентября продолжается регистрация иностранных
          участников в премии, на данный момент поступили инициативы из 45 стран мира. Международная премия #МЫВМЕСТЕ
          стала продолжением одноименной акции взаимопомощи.
        </p>
        <p class="gl__main-text">
          С приветственным словом к участникам обратились сопредседатели Организационного комитета Международной премии
          #МЫВМЕСТЕ: Первый заместитель Руководителя Администрации Президента РФ Сергей Кириенко и заместитель
          Председателя Правительства РФ Татьяна Голикова.
        </p>
      </div>
    </section>
  {{/content}}
{{/extend}}
