{{#extend "layout"}}
  {{#content "main"}}

    <section class="news-page gl__page-content" id="news-list-host">
      <ul class="news-page__bread-crumbs-list">
        <li class="news-page__bread-crumbs-item">
          <a href="/news.html" class="news-page__bread-crumbs-item-link">
            Главная
          </a>
        </li>
        <li class="news-page__bread-crumbs-item">
          <span class="news-page__bread-crumbs-item-link mod-current-page">
            Новости
          </span>
        </li>
      </ul>

      <h1 class="gl__title">Новости</h1>

      <ul class="news-page__news-list">
        {{> news-item
          date="12 июля"
          title="Более 25 000 заявок поступило на участие в Международной премии"
          mark="#МыВместе"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
        {{> news-item
          date="12 июля"
          title="Стратегия национальной безопасности Российской Федерации: потенциал конгрессно-выставочных мероприятий"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
        {{> news-item
          date="12 июля"
          title="Фонд Росконгресс вошел в состав Организационного комитета международной премии"
          mark="#МыВместе"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
        {{> news-item
          date="12 июля"
          title="III выездная сессия Веронского евразийского экономического форума состоялась в Екатеринбурге"
          mark="#МыВместе"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
        {{> news-item
          date="12 июля"
          title="Более 25 000 заявок поступило на участие в Международной премии"
          mark="#МыВместе"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
        {{> news-item
          date="12 июля"
          title="Стратегия национальной безопасности Российской Федерации: потенциал конгрессно-выставочных мероприятий"
          mark="#МыВместе"
          text="12 августа в формате ВКС прошло первое заседание Организационного комитета Международной премии #МЫВМЕСТЕ. Участники встречи обсудили текущую деятельность волонтеров и итоги заявочной кампании."
        }}
      </ul>
      {{> pagination }}
    </section>
  {{/content}}
{{/extend}}
