<div class="account__header">
  <div class="account__menu-container">
    <div class="account__menu-wrapper">
      <label class="account__menu-radio-wrapper">
        <input type="radio" name="account-menu" class="account__menu-radio" value="profile">
        <span class="account__menu-radio-content">Профиль</span>
      </label>
      <label class="account__menu-radio-wrapper">
        <input type="radio" name="account-menu" class="account__menu-radio" disabled value="calendar">
        <span class="account__menu-radio-content">Календарь бронирования</span>
      </label>
      <label class="account__menu-radio-wrapper">
        <input type="radio" name="account-menu" class="account__menu-radio" checked value="media">
        <span class="account__menu-radio-content">Медиа</span>
      </label>
    </div>
  </div>

  <div class="account__exit-btn-wrapper">
    <button type="button" class="account__exit-btn">
      <svg width="24" height="24" aria-hidden="true" class="account__exit-btn-icon">
        <use xlink:href="#exit"></use>
      </svg>
      Выйти
    </button>
  </div>
</div>
