<div class="profile account__body">
  <form data-need-validation data-parsley-validate data-parsley-focus="none"
        class="profile__form-container gl__form">
    <div class="account__form-head">
      <h2 class="gl__subtitle">
        Данные профиля
      </h2>
      <div class="profile__error-wrapper js-error-block">
        <div class="profile__error">
          Проверьте правильность заполнения полей, выделенных <span class="mark">красным цветом!</span>
          <img src="img/form/error.svg" alt="" class="profile__error-icon">
        </div>
      </div>
    </div>

    <div class="profile__form-radio-container">
      <div class="profile__form-radio-input-title">
        Формат участия
      </div>
      <div class="gl__form-radio-wrapper">
        {{> controls/input-radio-checkbox isChecked=true required="true" name="participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Офлайн" }}
        {{> controls/input-radio-checkbox required="true" name="participation" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Онлайн" }}
      </div>
    </div>

    <ul class="profile__form-inputs-list">
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">ФИО</div>
        {{> controls/input-main
          required=true
          inputType="text"
          name="name"
          type="account"
          placeholder="Иванов Анатолий Иванович"
        }}
      </li>
      <li class="gl__input-container profile__university">
        <div class="gl__input-title mod-small">Вуз</div>
        {{> controls/input-main
          inputType="text"
          name="university"
          type="account"
          placeholder="Моя alma mater"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Дата рождения</div>
        {{> controls/input-date
          dateTypeBirth18=true
          required=true
          name="birth"
          type="account"
          placeholder="дд.мм.гг"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Организация</div>
        {{> controls/select
          required=true
          placeholder="Какую организацию Вы представляете?"
          name="organization"
          type="account"
          option1="Организация 1" option2="Организация 2" option3="Организация 3"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Пол</div>
        {{> controls/select
          required=true
          placeholder="Пол"
          name="gender"
          type="account"
          option1="Женский" option2="Мужской"
        }}
      </li>
      <li class="profile__type-organization">
        <div class="profile__form-radio-input-title">
          Тип организации
        </div>
        <div class="gl__form-radio-wrapper">
          {{> controls/input-radio-checkbox isChecked=true required="true" name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Бизнес" }}
          {{> controls/input-radio-checkbox required="true" name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Образование" }}
          {{> controls/input-radio-checkbox required="true" name="type-organization" type="account" inputType="radio" additionClass="mod-inline" inputCaption="Гос. сектор" }}
        </div>
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Должность</div>
        {{> controls/input-main
          required=true
          inputType="text"
          name="post"
          type="account"
          placeholder="Должность"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Телефон</div>
        {{> controls/input-main
          required=true
          inputType="tel"
          name="phone"
          type="account"
          placeholder="+7(888)888-88-88"
          isPhone="true"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">ПЦР-тест</div>
        {{> controls/input-file
          required=true
          inputType="file"
          name="pcr-test"
          type="account"
          placeholder="info@gmail.com"
          parsleyType="email"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">E-mail</div>
        {{> controls/input-main
          required=true
          inputType="email"
          name="email"
          type="account"
          placeholder="info@gmail.com"
          parsleyType="email"
        }}
      </li>
      <li class="gl__input-container profile__direction">
        <div class="gl__input-title mod-small">Направление</div>
        {{> controls/select
          required=true
          placeholder="Которое интересно посетить на форуме"
          name="direction"
          type="account"
          option1="Кибербезопасность" option2="Цифра в культуре" option3="Цифровая трансформация регионо" option4="Российская цифровая индустрия" option5="Цифровые кадры для индустрии" option6="Медиа-акселератор" option7="Вузы" option8="Стартапы"
        }}
      </li>

      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Город</div>
        {{> controls/select
          required=true
          placeholder="Выберите"
          name="city"
          type="account"
          option1="Город 1" option2="Город 2" option3="Город 3" option4="Город 4" option5="Город 5"
        }}
      </li>

      <li class="gl__input-container profile__university-type">
        <div class="gl__input-title mod-small"></div>
        {{> controls/select
          required=true
          placeholder="Вуз"
          name="university-type"
          type="account"
          option1="Отрасль. Образование" option2="Отрасль. Здравоохранение" option3="Отрасль. Сельское хозяйство" option4="Отрасль. Городское хозяйство" option5="Отрасль.Финансовые услуги" option6="Отрасль.Добывающая промышленность" option7="Отрасль..Энергетическая инфраструктура" option8="Транспортная инфраструктура" option9="Информационно-коммуникационные технологии" option10="Отрасль.Строительство" option11="Обрабатывающая промышленность"
        }}
      </li>
    </ul>

    <ul class="profile__form-inputs-list">
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Наличие промокода</div>
        {{> controls/input-main
          required=true
          inputType="text"
          name="promo"
          type="account"
          placeholder="Введите промокод"
        }}
      </li>
      <li class="profile__submit-block-wrapper mod-item-list mod-end">
        <div class="profile__submit-block-hint">
          <div class="profile__submit-block-hint-mark gl__input-mark-required"></div>
          <div class="profile__submit-block-hint-caption">— Обязательные поля</div>
        </div>

        <button type="submit" class="js-btn-submit gl__main-btn mod-no-shadow mod-small profile__btn">Сохранить</button>
      </li>
    </ul>
  </form>

  <form data-need-validation data-parsley-validate data-parsley-focus="none"
        class="profile__form-container gl__form">
    <div class="account__form-head">
      <h2 class="gl__subtitle">
        Трансфер и проживание
      </h2>
      <div class="profile__form-btn-download-wrapper">
        <a href="" download="" class="profile__form-btn gl__main-btn mod-no-shadow mod-small mod-long">
          <span>Скачать PDF</span>
          <img src="img/form/download-bottom.svg" alt="" class="profile__form-btn-icon">
        </a>
        <div class="profile__form-btn-download-hint">
          Рекомендации по гостиницам и трансферу
        </div>
      </div>
    </div>

    <div class="profile__form-radio-container">
      <div class="profile__form-radio-input-title">
        Дни участия в форуме
      </div>
      <div class="gl__form-radio-wrapper">
        {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="2 декабря" }}
        {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="3 декабря" }}
        {{> controls/input-radio-checkbox name="days-participation" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="4 декабря" }}
      </div>
    </div>

    <ul class="profile__form-inputs-list">
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Дата приезда</div>
        {{> controls/input-date
          dateTypeFuture=true
          name="arrival-date"
          type="account"
          placeholder="дд.мм.гг"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Дата отъезда</div>
        {{> controls/input-date
          dateTypeFuture=true
          name="departure-date"
          type="account"
          placeholder="дд.мм.гг"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Время приезда</div>
        {{> controls/forked-select
          firstPlaceholder="08"
          secondPlaceholder="00"
          firstName="arrival-time-hour"
          secondName="arrival-time-minutes"
          type="account"
          firstOption1="08" firstOption2="09" firstOption3="10" firstOption4="11" firstOption5="12" firstOption6="13" firstOption7="14" firstOption8="15" firstOption9="16" firstOption10="17" firstOption11="18"
          secondOption1="00" secondOption2="10" secondOption3="20" secondOption4="30" secondOption5="40" secondOption6="50"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Время отъезда</div>
        {{> controls/forked-select
          firstPlaceholder="08"
          secondPlaceholder="00"
          firstName="arrival-time-hour"
          secondName="arrival-time-minutes"
          type="account"
          firstOption1="08" firstOption2="09" firstOption3="10" firstOption4="11" firstOption5="12" firstOption6="13" firstOption7="14" firstOption8="15" firstOption9="16" firstOption10="17" firstOption11="18"
          secondOption1="00" secondOption2="10" secondOption3="20" secondOption4="30" secondOption5="40" secondOption6="50"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Место прибытия</div>
        {{> controls/select
          placeholder="Выберите из списка"
          name="place-arrival"
          type="account"
          option1="Место прибытия 1" option2="Место прибытия 2" option3="Место прибытия 3"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Место отбытия</div>
        {{> controls/select
          placeholder="Выберите из списка"
          name="place-departure"
          type="account"
          option1="Место отбытия 1" option2="Место отбытия 2" option3="Место отбытия 3"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Номер рейса прибытия</div>
        {{> controls/input-main
          inputType="number"
          maxLength="3"
          name="flight-number-arrival"
          type="account"
          placeholder="Укажите"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Номер рейса отбытия</div>
        {{> controls/input-main
          inputType="number"
          maxLength="3"
          name="flight-number-departure"
          type="account"
          placeholder="Укажите"
        }}
      </li>
      <li class="profile__form-radio-container">
        <div class="profile__form-radio-input-title">
          Нужен трансфер при прибытии в Казань (только до аккредитованных гостиниц и площадок форума)
        </div>
        <div class="gl__form-radio-wrapper">
          {{> controls/input-radio-checkbox name="date-transfer" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="2 декабря" }}
          {{> controls/input-radio-checkbox name="date-transfer" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="3 декабря" }}
          {{> controls/input-radio-checkbox name="date-transfer" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="4 декабря" }}
        </div>
      </li>
      <li class="profile__form-radio-container">
        <div class="profile__form-radio-input-title">
          Нужен трансфер для отъезда из Казани (только от аккредитованных гостиниц и площадок форума)
        </div>
        <div class="gl__form-radio-wrapper">
          {{> controls/input-radio-checkbox name="date-transfer-2" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="2 декабря" }}
          {{> controls/input-radio-checkbox name="date-transfer-2" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="3 декабря" }}
          {{> controls/input-radio-checkbox name="date-transfer-2" type="account" inputType="checkbox" additionClass="mod-inline" inputCaption="4 декабря" }}
        </div>
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">После прибытия поеду сразу в</div>
        {{> controls/select
          placeholder="Выберите из списка"
          name="place-immediately-arrival"
          type="account"
          option1="Место 1" option2="Место 2" option3="Место 3"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Место проживания</div>
        {{> controls/select
          placeholder="Выберите из списка"
          name="place-residence"
          type="account"
          option1="Место проживания 1" option2="Место проживания 2" option3="Место проживания 3"
        }}
      </li>
    </ul>

    <div class="profile__submit-block-wrapper">
      <div class="profile__submit-block-hint">
        <div class="profile__submit-block-hint-caption">* Просим Вас заполнить эту информацию до <span
          class="profile__submit-block-hint-caption-mark">25 ноября</span>, чтобы мы могли обеспечить вам трансфер
        </div>
      </div>

      <button type="submit" class="js-btn-submit gl__main-btn mod-no-shadow mod-small profile__btn">Сохранить</button>
    </div>
  </form>

  <form data-need-validation data-parsley-validate data-parsley-focus="none"
        class="profile__form-container gl__form">
    <h2 class="gl__subtitle">
      Хочу стать спикером
    </h2>

    <ul class="profile__form-inputs-list">
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Название темы</div>
        {{> controls/input-main
          inputType="text"
          name="topics-name"
          type="account"
          placeholder="Которую вы хотели бы осветить"
        }}
      </li>
      <li class="gl__input-container">
        <div class="gl__input-title mod-small">Формат мероприятия</div>
        {{> controls/select
          placeholder="Выберите"
          name="event-format"
          type="account"
          option1="Формат 1" option2="Формат 2" option3="Формат 3"
        }}
      </li>
    </ul>

    <div class="profile__submit-block-wrapper mod-end">
      <button type="submit" class="js-btn-submit gl__main-btn mod-no-shadow mod-small profile__btn">Сохранить</button>
    </div>
  </form>
</div>
