<div class="gl__select-container mod-forked">
  {{#if required }}
    <span class="gl__input-mark-required"></span>
  {{/if}}

  {{> controls/input-main
    inputType=type
    required=required
    name=firstName
    placeholder=firstPlaceholder
    parsleyType="text"
  }}

  {{> controls/input-main
    inputType=type
    required=required
    name=secondName
    placeholder=secondPlaceholder
    parsleyType="text"
  }}
</div>
