<label class="gl__input-wrapper mod-file">
  {{#if required }}
    <span class="gl__input-mark-required"></span>
  {{/if}}
  {{#if dummyRequered }}
    <span class="gl__input-mark-required"></span>
  {{/if}}
  <input type="file"
         class="gl__input-file js-input-file"
         name="{{name}}-{{type}}"
    {{#if required }}
         data-parsley-required=""
    {{/if}}
  >
  <span class="gl__input mod-file js-input-file-content">PDF файл, не более 2 мб</span>
  <img src="img/form/download.svg" alt="" class="gl__input-icon">

  <button type="button" class="gl__file-btn-clear js-btn-clear-file">
    <svg width="12" height="12" aria-hidden="true" class="gl__file-input-icon-clear">
      <use xlink:href="#close"></use>
    </svg>
  </button>
</label>
