<!--
dateTypeBirth - для ДР совершеннолетние
dateTypeFuture - для будущей даты
-->

<label class="gl__datepicker-container js-datepicker-container">
  {{#if required }}
    <span class="gl__input-mark-required"></span>
  {{/if}}
  <input type="text"
         class="gl__datepicker-input gl__input js-input"
         placeholder="{{ placeholder }}"
         name="{{ name }}-{{ type }}"
    {{#if dateTypeBirth18}}
         data-birth-18
    {{/if}}
    {{#if dateTypeFuture}}
         data-future-with-today
    {{/if}}
    {{#if required}}
         required
    {{/if}}
  >
  <img src="img/form/datepicker.svg" alt="datepicker" class="gl__input-icon js-input-icon">
</label>
