<div class="gl__select-width-checkbox-wrapper gl__input-wrapper">
  <div class="gl__select-width-checkbox gl__input gl__drop-menu-btn js-drop-menu-btn">{{ placeholder }}</div>
  <div class="gl__select-width-checkbox-content-container gl__drop-menu-container js-drop-menu-container">
    <div class="gl__select-width-checkbox-content gl__drop-menu js-drop-menu">
      <div class="gl__form-radio-wrapper">
        {{#if checkbox1 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox1 }}{{/if}}
        {{#if checkbox2 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox2 }}{{/if}}
        {{#if checkbox3 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox3 }}{{/if}}
        {{#if checkbox4 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox4 }}{{/if}}
        {{#if checkbox5 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox5 }}{{/if}}
        {{#if checkbox6 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox6 }}{{/if}}
        {{#if checkbox7 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox7 }}{{/if}}
        {{#if checkbox8 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox8 }}{{/if}}
        {{#if checkbox9 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox9 }}{{/if}}
        {{#if checkbox10 }}{{> controls/input-radio-checkbox name=name type=type additionClass="mod-column" inputType="checkbox" inputCaption=checkbox10 }}{{/if}}
      </div>
    </div>
  </div>
</div>
