:root {
    --page-content-padding: 20px;

    --font-ibm: 'IBMPlexSans';

    --main-text-color: #000;
    --main-color: #12152A;
    --secondary-color: #9681F2;
    --disabled-color: #414455;
    --btn-color: #DF125C;
}
