@import 'sizes';

.gl__main-btn {
  padding: 10px 18px;
  background: var(--btn-color);
  font-weight: 600;
  font-size: 16px;
  color: #fff !important;
  box-shadow: 0 12px 67px rgba(35, 35, 99, 0.8);
  border-radius: 0 20px 20px 20px;
  transition: background-color 350ms;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;

  &:hover {
    background: #ff2977;
  }

  &.mod-big {
    font-size: 24px;
    padding: 34px 60px;
    border-radius: 0 50px 50px 50px;
    max-width: 300px;

    @include for-md-down {
      font-size: 20px;
    }

    @include for-sm-down {
      padding: 20px 34px;
    }
  }

  &.mod-large {
    padding: 22px 60px;
    font-size: 20px;
    border-radius: 0 35px 35px 35px;
    max-width: 300px;

    @include for-md-down {
      font-size: 18px;
    }

    @include for-sm-down {
      padding: 18px 30px;
    }
  }

  &.mod-middle {
    padding: 18px 50px;
    border-radius: 0 28px 28px 28px;
    max-width: 300px;
  }

  &.mod-middle-2 {
    padding: 16px 60px;
    border-radius: 0 25px 25px 25px;
    max-width: 300px;
  }

  &.mod-small {
    font-size: 14px;
    padding: 16px;
  }

  &.mod-long {
    width: 100%;
    max-width: none;
    border-radius: 0 26px 26px 26px;
  }

  &.mod-no-shadow {
    box-shadow: none;
  }

  &.mod-black {
    background-color: #fff;
    color: #000 !important;
    border: 2px solid #000;
    font-size: 16px;
    max-width: 400px;
    transition: background-color 300ms, border 300ms;

    &:hover {
      background-color: #000;
      color: #fff !important;
    }
  }

  @include for-sm-down {
    font-size: 16px !important;
    line-height: 20px !important;
  }
}
