:root {
    --page-content-padding: 20px;

    --font-ibm: 'IBMPlexSans';

    --main-text-color: #000;
    --main-color: #12152A;
    --secondary-color: #9681F2;
    --pale-secondary-color: #ECE8FD;
    --muted-color: #898A95;
    --disabled-color: #414455;
    --btn-color: #DF125C;
    --btn-color-muted: #FF72A5;

    --header-height: 84px;
    --header-height-mobile: 84px;
    --stycky-menu-height: 70px;
}
