$full: 1400px;
$vast: 1200px;
$big: 1024px;
$large: 960px;
$middle: 768px;
$small: 560px;
$xxs: 426px;

@mixin for-fl-up {
  @media screen and (min-width: $full) {
    @content;
  }
}

@mixin for-fl-down {
  @media screen and (max-width: $full - 1) {
    @content;
  }
}

@mixin for-vs-up {
  @media screen and (min-width: $vast) {
    @content;
  }
}

@mixin for-vs-down {
  @media screen and (max-width: $vast - 1) {
    @content;
  }
}

@mixin for-bg-up {
  @media screen and (min-width: $big) {
    @content;
  }
}

@mixin for-bg-down {
  @media screen and (max-width: $big - 1) {
    @content;
  }
}

@mixin for-lg-up {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin for-lg-down {
  @media screen and (max-width: $large - 1) {
    @content;
  }
}

@mixin for-md-up {
  @media screen and (min-width: $middle) {
    @content;
  }
}

@mixin for-md-down {
  @media screen and (max-width: $middle - 1) {
    @content;
  }
}

@mixin for-sm-up {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin for-sm-down {
  @media screen and (max-width: $small - 1) {
    @content;
  }
}

@mixin for-xxs-up {
  @media screen and (min-width: $xxs) {
    @content;
  }
}

@mixin for-xxs-down {
  @media screen and (max-width: $xxs - 1) {
    @content;
  }
}

.gl__fl-show {
  @include for-fl-up {
    display: none !important;
  }
}

.gl__fl-hide {
  @include for-fl-down {
    display: none !important;
  }
}

.gl__vs-show {
  @include for-vs-up {
    display: none !important;
  }
}

.gl__vs-hide {
  @include for-vs-down {
    display: none !important;
  }
}

.gl__bg-show {
  @include for-bg-up {
    display: none !important;
  }
}

.gl__bg-hide {
  @include for-bg-down {
    display: none !important;
  }
}

.gl__md-show {
  @include for-lg-up {
    display: none !important;
  }
}

.gl__md-hide {
  @include for-lg-down {
    display: none !important;
  }
}

.gl__md-show {
  @include for-md-up {
    display: none !important;
  }
}

.gl__md-hide {
  @include for-md-down {
    display: none !important;
  }
}

.gl__sm-show {
  @include for-sm-up {
    display: none !important;
  }
}

.gl__sm-hide {
  @include for-sm-down {
    display: none !important;
  }
}

.gl__xxs-show {
  @include for-xxs-up {
    display: none !important;
  }
}

.gl__xxs-hide {
  @include for-xxs-down {
    display: none !important;
  }
}
