$select-width: 94px;
$select-padding-left: 34px;
$select-padding-right: 18px;
$select-padding-top-bottom: 14px;

.header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  background-color: var(--main-color);
  padding: 0 30px;
}

.header__logo {
  height: 30px;
}

.header__section {
  display: flex;
  align-items: center;
  margin: 0;

  &.mod-center {
    width: 100%;
    flex-grow: 0;
    border-bottom: 1px solid rgba(250, 250, 250, .2);
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.header__contacts-list {
  display: flex;
  align-items: center;
  margin: -20px;
}

.header__contact {
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #fff;
  transition: color 250ms;

  &:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }

  & + & {
    margin-left: 46px;
  }
}

.header__main-logo-link {
  &:hover {
    .header__main-logo {
      fill: #fff;
    }
  }
}

.header__main-logo {
  height: 32px;
  fill: var(--secondary-color);
  transition: fill 350ms;
}

.header__lang-select-wrapper {
  position: relative;

  &.mod-show {
    .header__lang-selected-item {
      background-color: var(--secondary-color);
      border-radius: 0 20px 0 0;
    }

    .header__lang-select-options {
      bottom: -40px;
      opacity: 1;
    }
  }
}

.header__lang-selected-item {
  width: $select-width;
  padding: $select-padding-top-bottom $select-padding-left 4px $select-padding-right;
  background-color: transparent;
  transition: background-color 350ms;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    bottom: 10px;
    right: 10px;
    width: 5px;
    height: 5px;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}

.header__lang-select-options {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $select-width;
  background: var(--secondary-color);
  padding: 4px $select-padding-left $select-padding-top-bottom $select-padding-right;
  border-radius: 0 0 20px 20px;
  opacity: 0;
  transition: bottom 400ms, opacity 400ms;
}

.header__lang-select {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
}

.header__lang-radio {
  display: none;
}

.header__lang-radio-wrapper {
  & + & {
    margin-top: 6px;
  }
}
