@import 'sizes';

.header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  background-color: var(--main-color);
  padding: 0 var(--page-content-padding);

  @include for-vs-down {
    border-bottom: 1px solid rgba(250, 250, 250, .2);
  }

  @include for-bg-down {
    height: 60px;
  }
}

.header__logo {
  height: 30px;

  @include for-bg-down {
    height: 26px;
  }
}

.header__section {
  display: flex;
  align-items: center;
  margin: 0;

  &:nth-child(1) {

    @include for-bg-down {
      margin-left: -16px;
    }
  }

  &:nth-child(2) {
    width: 100%;
    flex-grow: 0;
    border-bottom: 1px solid rgba(250, 250, 250, .2);
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include for-vs-down {
      border-bottom: none;
    }

    @include for-bg-down {
      justify-content: flex-end;
    }
  }

  & + & {
    margin-left: 30px;

    @include for-md-down {
      margin-left: 22px;
    }

    @include for-sm-down {
      margin-left: 6px;
    }
  }
}

.header__contacts-list {
  display: flex;
  align-items: center;
  margin: -20px;
}

.header__contact {
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #fff;
  transition: color 250ms;

  @include for-fl-down {
    font-size: 16px;
  }

  &:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }

  & + & {
    margin-left: 46px;

    @include for-fl-down {
      margin-left: 0;
    }
  }
}

.header__main-logo-link {
  &:hover {
    .header__main-logo {
      fill: #fff;
    }
  }
}

.header__main-logo {
  height: 32px;
  fill: var(--secondary-color);
  transition: fill 350ms;

  @include for-vs-down {
    height: 28px;
  }
}

.header__control-wrapper {
  display: flex;
  align-items: center;
}

.header__eyes-btn {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  &:hover {
    .header__eyes-icon {
      fill: var(--secondary-color);
    }
  }

  @include for-sm-down {
    margin-left: 0;
  }
}

.header__eyes-icon {
  height: 34px;
  fill: #fff;
  transition: fill 300ms;

  @include for-bg-down {
    height: 24px;
  }
}

.header__auth-btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  @include for-fl-down {
    border-radius: 0 20px 20px 20px;
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .header__auth-btn-icon {
      height: 20px;
    }
  }

  @include for-bg-down {
    padding: 10px;

    .header__auth-btn-icon {
      height: 16px;
    }
  }
}

.header__burger-btn {
  margin-right: 16px;

  @include for-md-down {
    margin-right: 8px;
  }
}
