@import 'sizes';

.partners {
  color: #fff;
  background-color: #12152a;
  padding-top: 84px;
  padding-bottom: 156px;

  @include for-md-down {
    padding-bottom: 56px;
  }
}

.partners__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;

  @include for-md-down {
    margin-bottom: 46px;
  }

  @include for-sm-down {
    flex-direction: column;
    align-items: center;
  }
}

.partners__btn-sign-up {
  margin-top: 16px;

  @include for-sm-down {
    margin-top: 0;
  }
}

.partners__item {
  margin-bottom: 68px;

  @include for-md-down {
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid #414455;
    margin-bottom: 0;
  }
}

.partners__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 68px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;

  @include for-md-down {
    justify-content: center;
    margin-bottom: 26px;
    white-space: initial;
    text-align: center;
  }

  @include for-sm-down {
    font-size: 18px;
    line-height: 24px;
  }
}

.partners__item-title-before {
  width: 100%;
  height: 1px;
  background-color: #414455;
  display: block;
  margin-left: 20px;

  @include for-md-down {
    display: none;
  }
}

.partners__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  @include for-md-down {
    grid-template-columns: repeat(2, 1fr);
  }
}

.partners__link-container {
  &.mod-center-item {
    grid-column: 3 / 4;
    width: calc(100% + 10px);
    height: calc(100% + 10px);

    @include for-md-down {
      grid-column: 1 / 3;
      width: 100%;
      height: 100%;
    }
  }
}

.partners__link-wrapper {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &:hover {
    .partners__link {
      fill: #fff;
    }
  }
}

.partners__link {
  fill: var(--secondary-color);
  transition: fill 250ms;
}
